[2020-10-12 13:37] gabrieleagl opened #1 "qGAN - Different behavior of numpy vs pytorch implementations of the discriminator"
### Information

- **Qiskit Aqua version**: 0.7.5
- **Python version**: 3.8.5
- **Operating system**: MacOS 10.15.7 (19H2)

### What is the current behavior?
I'm running a script, based on the tutorial for distribution learning with qGAN's.
I have two variants of the script, grounded on the two different implementations of the qGAN discriminator, namely the `NumPyDiscriminator` and the `PyTorchDis

[2021-03-09 15:33] woodsp-ibm opened #4 "RawReatureVector - update parameters wrt ordering"
Parameters in Terra QuantumCIrcuit are now ordered. N-Local was updated to remove ordered_parameters as its no longer needed. This library circuit should be updated in a consistent manner (no need to deprecate here though, just remove, since this repo/pkg is new)

NLocal change as reference Qiskit/qiskit-terra#5949 (also see Qiskit/qiskit-terra#5759)

[2021-03-11 21:30] adekusar-drl opened #8 "Improve neural networks implementations"
### What is the expected enhancement?
- Apply changes according to the review of the PR #5 .
- Fix TODO items.

[2021-03-31 08:09] adekusar-drl opened #24 "Minor improvements in the module"
### What is the expected enhancement?
There are minor improvements to do:

- algorithms/init

- [x] NNC/NNR/VQR are missing in docstring

- datasets

- [ ] Return np.ndarrays, optionally one-hot encoded (remove all functions not used)

- neural_networks/init

- [x] OpflowQNN missing in docstring

- loss_functions

- [x] Should we rename the file loss.py to loss_functions.py?

- [x] Should we inclu

[2021-03-31 09:29] Cryoris commented on #4
Fixed via #21.

[2021-03-31 09:29] #4 closed

[2021-03-31 11:39] #24 closed

[2021-04-01 07:26] adekusar-drl commented on #24
Datasets are fixed in #26

[2021-04-02 10:49] nonhermitian opened #33 "Doc tutorials are broken"
See: https://qiskit.org/documentation/machine-learning/tutorials/index.html

[2021-04-02 21:04] manoelmarques commented on #33
Theme is fixed now

[2021-04-02 21:40] #33 closed

[2021-04-03 17:39] charmerDark opened #36 "test_size parameter for the iris dataaset has been hardcoded to 1"
### Information

- **Qiskit Machine Learning version**:
0.1
- **Python version**:
3.8.6
- **Operating system**:
Windows
### What is the current behavior?
upon calling the iris() function from datasets module, the size of the testinput is always a single data point. This is because the test_size parameter for the train_test_split() function in used has been hardcoded to 1 instead of the parameter t

[2021-04-08 11:00] assad-ua opened #39 "algorithms_globals"
Hello,
i am not being able to import algorithms_globals.

Any suggestions??

[2021-04-08 13:10] woodsp-ibm commented on #39
What version of qiskit do you have installed? What is the error you are getting - is it from code here or from your own code? Please provide more information.

[2021-04-08 13:15] manoelmarques commented on #39
The name is algorithm_globals not algorithms_globals. The installed qiskit-terra should be 0.17.0.
[code]

[2021-04-11 19:22] rdisipio opened #43 "Dense output of CircuitQNN yields invalid gradient"
### Information

- **Qiskit Machine Learning version**: 0.1.0
- **Python version**: 3.9.1
- **Operating system**: MacOs Big Sur 11.2.3 (20D91)

### What is the current behavior?

I would like to use a `CircuitQNN` as an intermediate layer in a larger neural network, but I would like to treat its output as a dense N-dim vector instead of a binary single output node as presented in the examples. I g

[2021-04-12 10:01] adekusar-drl opened #44 "Compute gradients only when they are required"
### What is the expected enhancement?

Compute gradient w.r.t. input data only when it is required. Now all gradients are computed at every time.

[2021-04-13 14:04] stefan-woerner opened #48 "Migrate QGANs to new interfaces"
Migrate the currently existing QGAN implementation to the new NN interfaces in Qiskit ML:

- [ ] Introduce classical NN that implements NN interface
- [ ] Add "1 step" to optimizers (where possible, otherwise throw exception)
- [ ] Introduce QGAN that takes NN for generator (sampling) and discriminator (requires design first)
- [ ] Introduce required loss function (can we get gradients here withou

[2021-04-13 15:53] woodsp-ibm commented on #39
Closing as answered. If however you still have an issue with this not working then feel free to re-open this, providing information and a small code sample etc

[2021-04-13 15:53] #39 closed

[2021-04-13 16:13] assad-ua commented on #39
The issue was resolved. Thanks alot.

On Tue, Apr 13, 2021, 8:53 PM Steve Wood ***@***.***> wrote:

[2021-04-13 22:34] adekusar-drl opened #49 "Extend loss function doc strings"
### What is the expected enhancement?
In the current release loss functions docstring documentation is very scarse. It should be extended and enhanced.

[2021-04-15 20:59] drewrisinger opened #54 "Tests (Torch): test_batch_gradients fails if pytorch not installed"
Most ``test_torch_connector.py`` tests are wrapped in logic to skip the test if ``pytorch`` isn't installed, but not ``test_batch_gradients()``. Thus, tests would be properly skipped for all torch tests, except for ``test_batch_gradients``.

https://github.com/Qiskit/qiskit-machine-learning/blob/7824bacf7c3288aa5ab8ca1f9d1ae7177a8e81ee/test/connectors/test_torch_connector.py#L466-L529

For logic t

[2021-04-19 10:43] adekusar-drl opened #57 "Improve performance of the QML algorithms"
For now identified tasks/issues:
- [x] Turn on/off data gradients in QNNs when required.
- [x] Compute `forward` pass only once and store the results. Re-use the results of `forward` in `backward`.
- [x] Review batch batches in `NeuralNetworkClassifier` and `NeuralNetworkRegressor`

[2021-04-19 10:46] adekusar-drl opened #58 "Compute forward pass only once. Re-use the results of forward in backward"
### What is the expected enhancement?
Now in `NeuralNetworkClassifier/Regressor` forward pass is computed at least two times, in `objective` and `objective_grad`. This should be changed in a way forward pass is computed only once and the results are stored for re-use in the backward pass.

[2021-04-19 10:49] adekusar-drl opened #59 "Make use of `AerPauliExpectation` for gradients, quantum Fisher information"
### What is the expected enhancement?
Make sure `AerPauliExpectation` can be used for gradients, QFI, etc

[2021-04-19 14:17] adekusar-drl opened #60 "Fix `TorchConnector` problem with batching"
### Information

- **Qiskit Machine Learning version**: Latest release
- **Python version**: All
- **Operating system**: all

### What is the current behavior?
Currently `TorchConnector` does not handle batches correctly. This should be improved.

[2021-04-19 14:18] adekusar-drl commented on #60
@stefan-woerner Could you please take a look and provide more information on this issue? Would be nice to have steps to reproduce this issue.

[2021-04-19 15:02] adekusar-drl opened #61 "Implement variational Quantum Boltzmann Machine"
- [ ] Introduce proper time evolution interface in core and required implementations 
- [ ] Implement forward & backward pass

[2021-04-19 15:15] adekusar-drl opened #62 "Make `NeuralNetworkClassifier` to accept categorical input"
### What is the expected behavior?
Currently `NeuralNetworkClassifier` and `VQC` accepts only one hot encoding. Both classifiers should also accept categorical input.

[2021-04-19 15:15] #54 closed

[2021-04-19 15:30] adekusar-drl opened #63 "Review and add support for batches in `NeuralNetworkClassifier` and `NeuralNetworkRegressor`"
### What is the expected enhancement?
In the current implementation there are a few TODOs left in the code that mention batch support. These places should be reviewed and batch support should be enabled.

[2021-04-19 20:15] #36 closed

[2021-04-22 08:45] adekusar-drl opened #67 "Make `sparse` dependency optional"
### What is the expected enhancement?
Currently we use `sparse` for multidimensional sparse arrays/tensors. This library depends on `numba` which, in turns, has compiled code with support/wheels for various machines but not all of them, e.g. if someone has been using a Raspberry Pi 4 and llvmlite, which is installed as part of `numba`, and its not supported there and QML fails to install. This iss

[2021-04-26 10:44] bonavia1997 opened #70 "Error in gradient calculation in qGAN using Gradient()"
### Information

- **Qiskit Machine Learning version**: 0.1.0
- **Python version**: 3.8.8
- **Operating system**: Windows 10

### What is the current behavior?

I was trying to apply "Phase shift rule" for gradient calculation in quantum GAN using the tutorial :
https://qiskit.org/documentation/tutorials/machine_learning/04_qgans_for_loading_random_distributions.html.

To do so, I replaced the lin

[2021-04-26 14:41] dlasecki opened #71 "Create a UML diagram for VarQTE"

[2021-04-27 10:46] adekusar-drl opened #75 "Verify `CircuitQNN` and `OpflowQNN` work correctly when no `QuantumInstance` is passed."
### What is the expected enhancement?
The parameter `quantum_instance` in the `CircuitQNN` and `OpflowQNN` may have value of `None`. In such cases there should be additional checks:

- Add `if` statements to be sure code runs smoothly when no quantum instance is passes and it is not required at this moment.
- If the value is required, then raise an appropriate `QiskitMachineLearning` exception.
-

[2021-04-27 10:51] adekusar-drl opened #76 "Replace usage of the deprecated `StatevectorSimulator` with a new appropriate simulator in the unit tests"
### What is the expected enhancement?
Statevector simulator is deprecated now and use of this simulator generates a lot of deprecation warnings in the unit tests. This simulator must be replaced with a new version.

[2021-04-27 13:53] woodsp-ibm commented on #76
In general, for the domains, there are quite a few deprecation or pendingdeprecation issues that need to be taken care of. I will note that the utils we had/have, that are now in Terra, for detecting if backend is statevector etc need revisiting too if we change use of Aer from the old way, I am not sure if these are used in the code anywhere here or not, but FYI in case.

[2021-04-27 14:17] adekusar-drl commented on #76
Thanks for noting this. If I recall correctly, there are a few places where we have if statements like `if statevector: ...`. So, these are to be revised too.

[2021-04-27 15:31] woodsp-ibm commented on #76
I was imagining we would update the util methods to accomodate the new backends so the checks still worked. But evidently things would need to be coordinated.

[2021-04-28 21:32] stephenmurray2 commented on #75
Hello @adekusar-drl 👋  I would be interested in creating a PR for this issue

[2021-04-28 21:46] adekusar-drl commented on #75
Welcome! If you have questions, let me know!

[2021-04-29 18:37] stephenmurray2 commented on #75
Thanks! Still making sense of which logic should still get executed in the event of `NoneType` `quantum_instance` parameter, I will create a WIP PR shortly

[2021-04-29 19:16] adekusar-drl commented on #75
Two hints (if I don't miss anything):
- `OpflowQNN` can run without a `qi`
- `CircuitQNN` needs a `qi` to run
I mean `forward` and `backward`. Other methods - depends.

[2021-04-30 23:29] #44 closed

[2021-05-05 17:48] adekusar-drl commented on #70
Closed in #77

[2021-05-05 17:48] #70 closed

[2021-05-05 19:24] woodsp-ibm opened #82 "Strings like 'l2' and 'l1' would be preferable as 'L2' and 'L1""
In skimming over the changes that black did I noticed the strings 'l1' and 'l2'. Normally for names lower case l is avoided as it can be mistaken for capital I and even for numeric 1 depending on font. I think it would be preferable to have these as uppercase L, since the docstring even talks about L2 loss where L is in capitals. This is in code like NetworkNeuralClassifier/Regressor among others.

[2021-05-06 11:57] adekusar-drl opened #84 "TorchConnector tutorial fails due to changes in Terra"
### Information

- **Qiskit Machine Learning version**: Latest sources
- **Python version**: All
- **Operating system**: 64bit systems with `symengine` installed

### What is the current behavior?
TorchConnector tutorial fails.

### Steps to reproduce the problem
A script to reproduce the error:
[code]

Fails with:
[code]

### What is the expected behavior?
The script should run without exceptions

[2021-05-06 12:59] mtreinish commented on #84
Hmm, interesting we should probably open a bug with symengine about this, they should be able to easily support single precision floats as a bind type. But int the meantime wesshould fix this in terra with a float cast on symbol values if it's a np float type.

[2021-05-06 13:35] mtreinish commented on #84
I filed an issue with symengine here: https://github.com/symengine/symengine.py/issues/351

[2021-05-06 13:47] mtreinish commented on #84
I pushed up a terra PR to fix this https://github.com/Qiskit/qiskit-terra/pull/6368 if you could test that this resolves the issue for the `TorchConnector` that would be great.

[2021-05-06 14:33] adekusar-drl commented on #84
@mtreinish Thanks a lot! The patch fixes the problem. Waiting for the PR to unblock the CI.

[2021-05-06 17:29] #84 closed

[2021-05-06 19:54] adekusar-drl commented on #82
I agree in general, but we have other loss functions coded as lower case strings: `cross_entropy`, `cross_entropy_sigmoid`, so I think we need a consistent solution. I suggest replace `l1` with `absolute_error` and `l2` with `squared_error`.
@beichensinn what do you think?

[2021-05-06 20:55] woodsp-ibm commented on #82
The strings across the API are case insensitive as it does a lower() on what is passed in to compare against constants in the code in lowercase. If upper() was done instead it would just mean the constants all became upper internally and maybe we'd show them that way in the docstring too. It would not change the API in this case; but changing to different strings means deprecating the l1 and l2 so

[2021-05-07 21:35] adekusar-drl opened #87 "`TestTorchConnector` fails intermittently"
### Information

- **Qiskit Machine Learning version**: latest
- **Python version**: All
- **Operating system**: All

### What is the current behavior?
`TestTorchConnector` fails intermittently with exceptions like here:
[code]

### Steps to reproduce the problem
Run the test several times. There are no specific conditions observed.

### What is the expected behavior?
The test should pass every ti

[2021-05-08 03:13] manoelmarques commented on #87
I created a PR #88 where I added seed and logging to help diagnose the problem. It happens randomly at test_torch_connector.py -> test_circuit_qnn_1_1 (with different inputs) -> validate_output_shape method:
[code]
When it fails, the model always throws the same exception: "array must not contain infs or NaNs", however 'c_shape = linear(x).shape' passes which causes c_worked to be True and q_worke

[2021-05-10 11:54] adekusar-drl opened #90 "Introduce a parameter `input_gradients` to NeuralNetwork"
### What is the expected behavior?
As a feedback from #44,  we should add a parameter `input_gradients` to NeuralNetwork to expose it explicitly to users. By default it should be turned off. Also, we should not turn on input gradients explicitly in `TorchConnector` every time, turning on/off gradients is up a user via this new parameter.

[2021-05-11 13:11] adekusar-drl opened #94 "Backward pass fails when an operator is an instance of `ComposedOp`"
### Information

- **Qiskit Machine Learning version**: Latest
- **Python version**: All
- **Operating system**: All

### What is the current behavior?
Exception is raised when an instance of `ComposedOp` is passed to `OpflowQNN`:
[code]

### Steps to reproduce the problem
Run the script
[code]

### What is the expected behavior?
No exception is raised

[2021-05-11 15:05] saalimon opened #95 "Gradient compute fail when using RawFeatureVector"
### Information

- **Qiskit Machine Learning version**: 0.1.0
- **Python version**: 3.7.10
- **Operating system**: All

### What is the current behavior?
This message occurs when using `RawFeatureVector` with `CircuitStateFn`
`Cannot compute gradient operator! Continuing without gradients!`

### Steps to reproduce the problem

[code]

### What is the expected behavior?
Can pass the `Parameter` or

[2021-05-11 16:10] #94 closed, assigned to nobody

[2021-05-11 16:54] adekusar-drl commented on #87
@manoelmarques Thanks a lot! Your logs helped to find the cause of this problem. I think we should replace `Tensor(1)` with `Tensor([1])` in the test.

[2021-05-12 12:33] #87 closed

[2021-05-13 00:20] manoelmarques commented on #76
I have it fixed but it depends on: Qiskit/qiskit-terra#6357

[2021-05-14 08:00] #58 closed

[2021-05-14 16:04] stfnmangini opened #100 "Wrong Gradients when TorchConnector is used with a batch"
### Information

- **Qiskit Machine Learning version**: 0.1.0
- **Python version**: 3.8.8
- **Operating system**: MacOS Big Sur

### What is the current behavior?
If a `CircuitQNN` is used with a `TorchConnector`, the result PyTorch model have some issues calculating the gradients of the parameters in the circuit, when the model is evaluated on a batch of data, and not a single sample.

### Steps

[2021-05-16 06:09] FrankFeenix opened #101 "Can't compute gradient operator"
### Information

- **Qiskit Machine Learning version**: 0.1.0
- **Python version**: 3.8.8
- **Operating system**: Windows 10 Pro

### What is the current behavior?
Failed to try the example of the first Machine Learning Programming Experiment in Qiskit:
Cannot compute gradient operator! Continuing without gradients!

### Steps to reproduce the problem

### What is the expected behavior?
Run withou

[2021-05-16 19:53] adekusar-drl commented on #101
Can you please share more details?

[2021-05-17 05:19] FrankFeenix commented on #101
@adekusar-drl As above, I said installed the library module then tried to try an example on ReadMe but got the same error as above. That is what I want to say

[2021-05-17 11:40] adekusar-drl commented on #101
Thanks for noting this. This is not an error, but rather a warning in this case. We use `COBYLA` optimizer in this example, which is gradient free, so the example is still good.

[2021-05-17 14:30] #101 closed

[2021-05-19 18:35] #67 closed

[2021-05-21 05:48] dlasecki opened #107 "Create a UML diagram for VarQBM"

[2021-05-21 19:22] nonhermitian opened #105 "Indention bug in else statement of torch connector."
### Information

- **Qiskit Machine Learning version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

There is an indentation error on line 166 of the torch connector.

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2021-05-27 17:16] frmetz opened #109 "Quantum autoencoder"
We have been working on an implementation of a quantum autoencoder as part of the Qiskit Hackathon Europe: Research Study Groups. The quantum autoencoder is based on these two papers:
* https://arxiv.org/abs/1612.02806
* https://arxiv.org/abs/2010.06599

I would be happy to adapt our work so that it could be merged into the qiskit code base, if there is interest in having it included.

I am sorry

[2021-05-27 21:12] jonvet commented on #90
mind if I take a look at this one?

to confirm:
- `NeuralNetwork` and all classes that inherit from it should have a new parameter `input_gradients`
- should the current getter/setter in `NeuralNetwork` be deprecated?

[2021-05-28 10:18] adekusar-drl commented on #90
I don't mind, any help is appreciated.

Things to do:

- Add `input_gradient` as a constructor parameter to `NeuralNetwork` with a default value of `False`. So, yes, this is the answer on the first question.
- Verify there are getter/setter in place (as I recall there's just a getter). So, no, current getter/setter are not deprecated.
- Remove a line in `TorchConnector` where `input_gradients` is

[2021-05-31 09:37] adekusar-drl commented on #109
Hi, this is really interesting. Could you please share slightly more information on implementation? Would be nice to see how it looks like, e.g.interfaces you want to implement, and how it can be used, e.g. a use case for it. Also it is important to see how it can be integrated with the with existing framework. I can help with certain things, but definitely should know more about it.

[2021-05-31 12:11] divshacker opened #110 "Search Function not working in Qiskit Machine Learning"
### Information

- **Qiskit Machine Learning version**: NA
- **Python version**: NA
- **Operating system**: NA

### What is the current behavior?
The Search Function of Qiskit Machine Learning is not working.

### Steps to reproduce the problem
Just go to this https://qiskit.org/documentation/machine-learning/ and type anything you want to search.

### What is the expected behavior?
It will not wo

[2021-05-31 14:23] adekusar-drl commented on #110
@manoelmarques I guess this issue should be addressed in another repo or CI?

[2021-05-31 14:35] manoelmarques commented on #110
@adekusar-drl Similar issue has already been created: Qiskit/qiskit#1223

[2021-05-31 14:38] divshacker commented on #110
Is there is any work going on in this issue then ? @manoelmarques ?

[2021-05-31 14:39] adekusar-drl opened #112 "Add a callback interface to neural networks"
### What is the expected behavior?
In the current implementation of the neural networks it is impossible to track loss and other parameters while a model is being trained. Here, we suggest to introduce a callback that can give access some intermediate training data. This callback may make use of the callback interface of optimizers.

[2021-05-31 14:46] manoelmarques commented on #110
It possibly involves integrating Google search engine to search all applications. I believe there would be more discussion on this.

[2021-05-31 14:54] divshacker commented on #110
Well then I think there is no point in opening this issue now. I am closing this and consider this discussion further on Qiskit/qiskit#1223.

[2021-05-31 14:54] #110 closed

[2021-05-31 14:57] adekusar-drl commented on #110
@divshacker I'd suggest to follow up in that issue, to show your interest.

[2021-05-31 15:30] adekusar-drl commented on #105
@nonhermitian What is wrong with indentation in this code? Looks good to me.

[2021-05-31 15:36] nonhermitian commented on #105
The issue originates from someone other than myself so I cannot say. However it seems that one of the statements is not nested at the correct level and causes issues when actually using the module.

[2021-05-31 15:51] adekusar-drl commented on #105
Well, it is supposed to be an `if - elif - else` statement. So, it is unclear where indentation is wrong. Do you have any other details of the issue or know who originally raised this issue?

[2021-05-31 19:27] Cryoris commented on #59
While the code allows to use AerPauliExpectation, it currently gives wrong results due to a bug in the expectation values if coefficients in the state function are involved -- as is the case for gradients.

[2021-06-01 11:16] Cryoris opened #113 "Allow setting an ``initial_point`` in the ``NeuralNetwork``s"
### What is the expected enhancement?

Should the `NeuralNetwork` algorithms should support passing an ``initial_point`` for the weights?

It seems that right now this is technically possible by setting `warm_start` to true and setting the private `_fit_result` property, but that's rather hacky 🙂

[2021-06-01 11:42] nonhermitian commented on #105
![image](https://user-images.githubusercontent.com/1249193/120317615-dc3bc480-c2ac-11eb-909d-9d2f9641f5c6.jpeg)

Sorry they reported it a bit further down.

[2021-06-01 13:18] adekusar-drl commented on #105
I see, the selected part looks good to me either. So, are there any actual problems with the torch connector e.g. wrong results?

[2021-06-01 13:38] nonhermitian commented on #105
Please just close this issue. I will ask the original authors to post a new issue themselves.

[2021-06-01 13:45] adekusar-drl commented on #105
OK, thanks.

[2021-06-01 13:45] #105 closed

[2021-06-01 16:30] adekusar-drl commented on #113
Oh yes, just hit the same issue. I hope this feature will be in place soon.

[2021-06-01 17:40] Cryoris commented on #113
I'll open a PR soon, just need to add some tests 😄

[2021-06-01 17:48] adekusar-drl commented on #113
It is done already #115

[2021-06-01 18:01] #113 closed

[2021-06-01 18:45] jonvet commented on #90
cool thanks, i also have permission from my employer now, so I'll get started

[2021-06-02 13:28] #76 closed

[2021-06-02 13:40] Cryoris opened #118 "Leverage fast classical gradients and QFI for statevector simulations"
### What is the expected behavior?

For statevector simulations we can use faster classical evaluation schemes for the gradients, as proposed in https://arxiv.org/abs/2009.02823 and https://arxiv.org/abs/2011.02991. These methods are significantly faster than the current ones as they (1) asymptotically scale with one less power (linear for gradients, quadratic for natural gradients) and (2) have m

[2021-06-03 17:58] jonvet commented on #100
I wouldn't mind investigating this issue if it's still up for grabs

[2021-06-04 10:27] #90 closed

[2021-06-04 13:51] stfnmangini commented on #100
Hi @jonvet, that would be lit. Though, I don't know if someone from the Qiskit team already took this issue in charge 🤷

[2021-06-06 19:10] frmetz commented on #109
Hi,
Sorry for the late reply, the final week of the hackathon was quite busy!

You can find our current implementation here: [qae.py](https://github.com/Qottmann/Quantum-anomaly-detection/blob/main/qae.py). It contains two classes `QAEAnsatz` (which is a slightly modified version of a `TwoLocal` circuit) and `QAE` (the training framework). The `QAE` is trained in an unsupervised fashion not requir

[2021-06-07 22:02] jonvet commented on #60
is this the same issue as #100 ?

[2021-06-08 12:37] adekusar-drl commented on #100
I supposed to have a look at this issue this week, but I'm perfectly fine if anybody else can work on it.
@jonvet I noticed the PR, if it fixes the scenario posted in this issue, then likely it is good to go. I'll get back to the PR today/tomorrow. Thanks for taking care of the issue!

[2021-06-08 18:41] adekusar-drl commented on #109
Hi,

QAE fits perfectly well into this repo and it really looks like a solid contribution. But in this same time you should follow the contribution guidelines, implement the encoder/decoder in the same paradigm as NNs are currently implemented. Please take a look at the `NeuralNetwork` class, this is a base class for all neural networks. Of course, I do not say it is cast in stone, the base class

[2021-06-08 18:44] adekusar-drl commented on #109
Take a look at the contribution guideline here: https://github.com/Qiskit/qiskit-machine-learning/blob/main/CONTRIBUTING.md

[2021-06-09 14:09] dlasecki commented on #71
Issues to be covered in the design:
- [x] operator-based evolution (including Trotterization etc.
- [x] variational time evolution using variational principles
- [ ] variational time evolution using "fitting"
- [x] case of non-Hermitian Hamiltonians
- [ ] case of time-dependent Hamiltonians

[2021-06-10 13:19] Zoufalc commented on #71
McLachlan for time-dependent Hamiltonians follows the same principles as time-independent Hamiltonians. See Appendix  https://arxiv.org/pdf/1804.03023.pdf.

[2021-06-10 19:58] frmetz commented on #109
Thank you for the concrete hints! I will start working on it, but it will probably take me a bit until I have it fully integrated into the current framework. If I run into problems, I will ask here. Thanks!

[2021-06-10 20:07] adekusar-drl commented on #109
No rush, whenever you have a question, you can post it here.

[2021-06-10 23:17] #100 closed

[2021-06-10 23:22] adekusar-drl commented on #60
Yes, must be the same. I have to double check one thing before I close this issue.

[2021-06-16 09:22] adekusar-drl commented on #60
Fixed in #121.

[2021-06-16 09:22] #60 closed

[2021-06-16 09:28] #63 closed

[2021-06-16 22:07] #49 closed

[2021-06-17 13:35] adekusar-drl opened #124 "Improve handling of missing optimizer in NN classifier/regressor"
### What is the expected enhancement?
When an optimizer is not passed to neural network classifier/regressor an exception occurs: `AttributeError: 'NoneType' object has no attribute 'optimize'`. In this issue I suggest to improve this behavior and either raise a more meaningful exception or introduce a default optimizer, e.g. Cobyla or SLSQP.

[2021-06-17 19:38] woodsp-ibm commented on #124
I looking at the code there are other params too with defaults of None where the typehint does not define them as Optional. I can see None being a valid value for optimizer if internally we then create some default Optimizer for convenience. Otherwise it seems to me that its being defaulted to an invalid value.
If some are left Optional I think we need to check the typehints on some of the getters

[2021-06-20 16:00] darshkaushik commented on #124
@adekusar-drl I would like to contribute to fix this issue.
Are the changes to be done in classifier/regressor or the parent class `TrainableModel` ?
`NeuralNetworkClassifier` has an overriden `__init__` method whereas `NeuralNetworkRegressor` does not.

[2021-06-20 22:34] adekusar-drl commented on #124
Thanks for taking care of this! I think this issue should be fixed in `TrainableModel` as it is a super class for both regressor/classifier and there's `optimizer` property in it. A default value and behavior may be similar to what we have in `VQE`, e.g. let's start from `SLSQP`(although it may be not the best choice) as a value, if it does work well by default in the tests, then you may switch to

[2021-06-22 15:28] starktech23 opened #128 "Request for translating Qiskit Machine learning tutorials"
### What is the expected enhancement?

Qiskit Documentation is currently published in 7 languages (including English). The translation effort is driven by a team of volunteer translators. Now that the tutorials are in separate repository, the team would like to start translating the Machine learning translations which can benefit the community especially during the upcoming Qiskit Summer School, a

[2021-06-22 22:07] mattwright99 commented on #124
This sounds like a super interesting introduction to this repo, any chance I could take this issue over @darshkaushik

[2021-06-22 22:31] mattwright99 commented on #82
@woodsp-ibm @adekusar-drl I am new to qiskit contributions but I am interested in picking up this issue. Would that be ok?

I think using `upper()` and comparing to `'L1'` internally is a good idea since it would make the code more readible and the docstrings more clear. I think it could also be beneficial to add support for `'absolute_error'` and `'squared_error'` in addition to `'L1'` and `'L2'`

[2021-06-22 23:09] zoplex opened #129 "API for extracting train and test kernel matrices and support vectors from QSVC upon completed training"
### What is the expected enhancement?
Provide way to extract train and test kernel matrices after the QSVC is fit/predicted, without having to invoke evaluate - since that doubles the run time needed:

qsvc = QSVC(quantum_kernel=qkernel)
qsvc.fit(sample_train,label_train)
qsvc.predict(sample_test)
###  next code/api would be great to have without having to run evaluate:
train_kernel = qsvc.get_tra

[2021-06-23 07:28] ElePT commented on #95
Hello! I would like to work on this issue.

[2021-06-23 07:33] ElePT commented on #43
Hello! I have tried to reproduce this issue but I haven't had any problems using CircuitQNNs with dense output, it works fine for me. Could you please provide the full code you used to get this error? Thanks!

[2021-06-23 08:56] adekusar-drl commented on #128
@woodsp-ibm Do you know how we should proceed here?

[2021-06-23 09:21] adekusar-drl commented on #124
@darshkaushik how is your progress working on this issue?

[2021-06-23 09:42] adekusar-drl commented on #82
@mattwright99 Surely, you can work on this issue!
I'd prefer to keep string constants in lower case just to keep them more readable in the documentation. I suggest to gracefully deprecate `l1` and `l2` in favor of 'absolute_error' and 'squared_error' cause this would solve the issue completely.
The `if` block you mentioned, is it the `if` block where we instantiate a loss object out of a string va

[2021-06-23 12:12] darshkaushik commented on #124
@mattwright99, I have already invested several hours and would like to continue with it, hope that's fine

Have gone through VQE and hope to commit by today, will let you know if I get stuck somewhere.

[2021-06-23 12:29] adekusar-drl commented on #124
@darshkaushik thanks, I'll keep this issue on you.

[2021-06-23 12:45] adekusar-drl commented on #57
Things to do:
- Issue #59 (Make use of AerPauliExpectation for gradients, quantum Fisher information) to be completed in the next release.
- Profiling and performance tuning to be defined separately.

[2021-06-23 12:50] adekusar-drl commented on #43
@rdisipio Could please try to reproduce the issue with the recent changes? If it is still in place, please report more info as @ElePT requested. Thanks.

[2021-06-23 13:24] SooluThomas commented on #128
I have opened a PR #130 for addressing this.

[2021-06-24 01:28] darshkaushik commented on #124
@adekusar-drl please review the changes.

Also, it being my first issue, I need some help on how to run tests and style checks on a windows system.

[2021-06-24 03:27] mattwright99 commented on #82
@adekusar-drl Alright, i am excited to start contributing!
My plan at the moment is to change all the occurances of 'l1' and 'l2' to 'absolute_error' and 'squared_error' throughout the source code, the unit tests, and documentation. I will also continue to handle 'l1' and 'l2' as we do now but output a depreciation warning if they are provided. Should i use the `deprecate_arguments()` function? If

[2021-06-24 11:17] adekusar-drl commented on #124
@darshkaushik Could you please create a PR for your changes? If it is not yet fully ready, you can create a draft PR and/or mark with a prefix "[WIP]" in the title, work in progress.

Usually I run tests from PyCharm directly, it's pretty easy. To run various checks you can install `make` on windows and run the makefile. Or you can run manually command from the makefile, e.g. `pylint -rn qiskit_ma

[2021-06-24 12:44] darshkaushik commented on #124
@adekusar-drl I tried using pylint command directly from the `qiskit-machine-learning` directory in my local system, but I always get the error `ModuleNotFoundError: No module named 'pylintfileheader'`. This error comes only in this particular directory, in every other directory pylint works fine and I can't find a fix for it.

Also, I have cloned just the `qiskit-machine-learning` repo, without `

[2021-06-24 13:21] manoelmarques commented on #82
@adekusar-drl I added all the possible ways you can use deprecations in the test_deprecation.py. However All methods/decorators expect you to deprecate a class, method, argument. property or function. Nothing for default values. The message being created automatically doesn't support it. Would it be possible for you to add a warnings.warn method in your PR for that situation and I will then create

[2021-06-24 13:42] adekusar-drl commented on #124
Yeah, please install it via `pip install pylintfileheader`. You should also have `qiskit-terra` installed in your python environment.

[2021-06-24 13:57] woodsp-ibm commented on #124
There is information around contributing here https://github.com/Qiskit/qiskit-machine-learning/blob/main/CONTRIBUTING.md#contributing which also links to the main Qiskit contributing docs that have a lot of common information.

The easiest way to get the tools you need for development installed is to do a `pip install -r requirements-dev.txt` - you will see the file in the root of the repo. It ha

[2021-06-24 16:36] darshkaushik commented on #124
when linting got `invalid-file-header` for all the files, why is it so?

![image](https://user-images.githubusercontent.com/70013230/123299878-9387cc00-d537-11eb-98a8-915fb91762e6.png)

[2021-06-24 17:05] adekusar-drl commented on #124
This is likely due to different line endings in linux and windows: `\n` vs `\r\n`. I guess you did not edit copyright notices, so ignore them.

[2021-06-24 17:29] adekusar-drl commented on #82
@manoelmarques Yes, we can generate manual warnings.
@mattwright99 Please add lines like these:
[code]
The version number in the text depends on the date when you'll be able to finish the PR. We can edit it later on.

[2021-06-24 17:30] mattwright99 commented on #82
@adekusar-drl sounds good, I am just about to publish a PR

[2021-06-24 17:30] #57 closed

[2021-06-24 17:58] mtreinish commented on #124
The pylint header extension is quite error prone in my experience and doesn't give you any real debugging information. This is why other projects use the `verify_headers.py` script I wrote to do this. It's faster and provides real debug information on why a header is invalid.

[2021-06-24 18:06] darshkaushik commented on #124
@mtreinish where can I find it?

@adekusar-drl I did the unit tests they work fine for all the files in the `algorithms `directory, but others do not, I hope that's okay as it is unrelated to this fix.

[2021-06-24 18:15] mtreinish commented on #124
@darshkaushik it's apparently not included in machine-learning repo we'll have to port it from another qiskit repository like: https://github.com/Qiskit/qiskit-terra/blob/main/tools/verify_headers.py it should be a separate PR moving away from the pylint plugin to that script.

[2021-06-25 00:48] attp commented on #129
@zoplex as `QSVC` extends the [`scikit-learn svc`](https://scikit-learn.org/stable/modules/generated/sklearn.svm.SVC.html) class, we are restricted with what that returns.

You to get the indices of the support vectors using `qsvc.support_`, but I don't believe it is possible to get the kernel matrices from `svc`, or at least I haven't been able to find it in the documentation.

The [quantum kerne

[2021-06-25 15:40] zoplex commented on #129
Thank you for the quick response. We already upgraded the code to the latest qiskit version and we are using .evaluate to calculate both train and test kernel matrices (full size) just like in the same code on qiskit site/above in your example, we were not sure how to get support vectors. This solution above resolves it, I will try this approach. Using support vectors dimension instead of full tra

[2021-06-25 15:40] #129 closed

[2021-06-25 19:29] darshkaushik commented on #124
I hope the the changes look fine. Let me know if you have any suggestions.

[2021-06-25 19:43] #82 closed

[2021-06-28 18:33] mattwright99 commented on #62
@adekusar-drl I am interesting in picking up this ticket. Here is what I am thinking right now:
- Add a method to `NeuralNetworkClassifier` that checks for data of type string in each column and one-hot encode those columns.
- Call this method at the start of `fit`, `predict`, and `score`.

Alternatively, I could implement this function in the dataset_helper script so it can be used in other model

[2021-06-29 13:33] adekusar-drl commented on #62
Hi, in general you are right. So, first of all, please take a look at `OneHotEncoder` from sklearn, I hope we can make use of it instead of implementing a conversion login from scratch. Next, I'm not sure we need `categorical_cols` right away, we have a basic classifier that does not accept different type of labels, so should be easy to derive a label type from true labels.
Anyway, any suggestions

[2021-06-29 14:00] mattwright99 commented on #62
Oh I see, I thought you were refering to categorical features not labels. That should be easy enough to infer and transform.
I will let you know if I have any other questions!

[2021-06-29 14:29] adekusar-drl commented on #62
I don't know why I was thinking of labels only. Categorical features can be also a case, but such feature would require even more exploration and investigation. There's also `LabelEncoder` in sklearn that may help.

[2021-06-29 14:40] mattwright99 commented on #62
Ya categorical features would be interesting but slightly more complicated. I think we would either need to have the user preprocess the data before instantiating the model to specify number of qubits or we would have to use PCA to force the encoding dimensionality to fit the number of qubits. Could be a cool task but might warrant its own issue/PR.
And yes I have been looking into sklearn's `Labe

[2021-06-29 20:10] #124 closed

[2021-06-30 09:17] Cryoris commented on #59
With Qiskit/qiskit-terra#6497 merged, this issue is resolved.

The `AerPauliExpectation` now yields the correct values, see this plot which shows the absolute difference between gradients calculated exactly (using the matrix expectation) again Pauli and AerPauli:
![image](https://user-images.githubusercontent.com/5978796/123935430-808c5600-d994-11eb-8053-a0dbf69d48e0.png)

and here's a small runti

[2021-06-30 09:17] #59 closed

[2021-06-30 11:00] darshkaushik commented on #112
@adekusar-drl I am interested to fix this issue.
I suppose the changes are to be made in `CircuitQNN` or any of the base classes?

Also, the callback is available only for some specific optimizers and is not a feature of the class `Optimizers` I think.

[2021-06-30 11:32] adekusar-drl commented on #43
@rdisipio Closing this issue as non-reproducible. You can re-open the issue if you still have problems. Thanks.

[2021-06-30 11:32] #43 closed

[2021-06-30 11:48] adekusar-drl commented on #128
@SooluThomas may I close this issue?

[2021-06-30 11:57] adekusar-drl commented on #112
I guess the changes should go to `TrainableModel` or the subclasses. `VQE` class may be a good example to look at, it has a `callback` parameter. Anyways, this issue requires additional investigation to have a proper design to implement.

[2021-06-30 13:10] SooluThomas commented on #128
@adekusar-drl Yes, this is done. Thank you!

[2021-06-30 13:14] #128 closed

[2021-07-04 15:50] darshkaushik commented on #112
@adekusar-drl excuse my inactivity, was a little overwhelmed with `NeuralNetwork` and its subclasses.

I thought `NeuralNetwork` or its subclasses should be changed?

Got some idea from there, but still unclear what specific parameters should `callback` contain.

[2021-07-04 15:51] darshkaushik commented on #112
@adekusar-drl excuse my inactivity, was a little overwhelmed with `NeuralNetwork` and its subclasses.

I thought `NeuralNetwork` or its subclasses should be changed?

Got some idea from there, but still unclear what specific parameters should `callback` contain.

[2021-07-06 13:17] adekusar-drl commented on #112
No worries at all, I did not say it would be easy. I don't know to what extent you understand implementation of `VQE`, so let me get to basics. Feel free to skip if it is clear.

First, let's take a look at `VQE`. The callback is invoked in `_energy_evaluation`, there are four parameters are passed to the callback: the evaluation count, the optimizer parameters for the variational form, the evalua

[2021-07-06 16:28] darshkaushik commented on #112
I highly appreciate the extensive explanation.

Here, can you please link the line where `find_minimum` is called internally, I cannot seem to connect it's function call from `compute_minimum_eigenvalue`.

I cannot say that I understand this completely. If you think I need to do some reading for this, let me know.

I mistook `NeuralNetworkClassifier` and `NeuralNetworkRegressor` classes for the `N

[2021-07-06 23:41] adekusar-drl commented on #112
My bad, `VQE` was updated on 17/06 and I had an old version of Terra locally. Basically they eliminated `find_minimum` and moved all that code of `find_minimum` from `VariationalAlgorithm` to `VQE`. Indeed, now `compute_minimum_eigenvalue` calls `optimizer.optimize` directly.

The method `_energy_evaluation` is also refactored and now it is a nested method in `get_energy_evaluation`. Well, looks s

[2021-07-07 12:13] mattwright99 commented on #62
@adekusar-drl while we wrap this ticket up, I would be interested in exploring how to automatically handle categorical features, if you think that would be valuable.  Otherwise I would be happy finding another issue to take a look at.

Thoughts?

[2021-07-07 14:26] adekusar-drl commented on #62
Certainly, you can explore categorical features, but, honestly, I don't know what you may hit on this road.

[2021-07-08 01:24] darshkaushik commented on #112
These are the changes I am working on:

- [ ] Adding `callback` as a `Callable` argument in `__init__`() of `NeuralNetworkClassifier` and `NeuralNetworkRegressor`. Callback contains weights of the objective function and the computed value.

- [ ] Adding a member variable `_callback` which will be initialized by `callback`.

- [ ] Adding `objective_evaluation` (analogous to `energy_evaluation`) met

[2021-07-08 08:27] adekusar-drl opened #149 "Review the tests in TestQuantumKernelConstructCircuit"
### What is the expected enhancement?
Recently, the tests in `TestQuantumKernelConstructCircuit` were broken, a quick fix (PR: https://github.com/Qiskit/qiskit-machine-learning/pull/148) showed that these tests construct circuits and validate the number of gates in the circuits. Since the way how complex gates are represented in circuits has been changed (PR: https://github.com/Qiskit/qiskit-terra

[2021-07-08 11:18] adekusar-drl commented on #112
A few thoughts:

- `objective_evaluation` (or may be a better name), I guess, can be pulled up to `TrainableModel`.
- a dedicated `get_objective_evaluation`, likely, is not required. It may have just a single line with a `return` statement.

[2021-07-08 11:59] darshkaushik commented on #112
what if the implementation of `ObjectiveFunction` is changed to take an argument `callback` which when not `None` would call `callback(...)` ?

[2021-07-08 12:02] adekusar-drl commented on #112
This is what I would definitely like to avoid: mixing up math stuff in the objective functions and the algorithm itself in the models.

[2021-07-08 14:27] darshkaushik commented on #112
Have tried to do this, let me know what you think.

[2021-07-11 06:18] omarshehab opened #157 "Allow measuring subset of qubits when QuantumKernel.evaluate() is run on MPS simulator"
### What is the expected enhancement?
Right now `QuantumKernel.evaluate()` measures all qubits used in the circuit. There should be a way to take advantage of the fix given [here](https://github.com/Qiskit/qiskit-aer/pull/1277) if the MPS simulator is used with the option `"mps_sample_measure_algorithm": "mps_apply_measure"`.

[2021-07-12 19:31] woodsp-ibm commented on #157
From the link this looks like a performance enhancement when using MPS simulator when all qubits are being measured. You can pass in an Aer simulator set for MPS mode and configure it accordingly. Having only just skimmed over the PR you linked what is it that you are proposing is changed here?

As far as the title is concerned `Allow measuring subset of qubits` - I got the impression from reading

[2021-07-12 19:57] omarshehab commented on #157
@woodsp-ibm , The `QuantumKernel.evaluate()` API currently measures all qubits so we cannot take advantage of measuring subset of qubits when we are using the MPS simulator.

[2021-07-12 20:04] woodsp-ibm commented on #157
I guess I am confused - the PR you linked says this as a summary

and later

which I took to mean that it was not implemented at present anyway.

[2021-07-12 20:28] omarshehab commented on #157
@woodsp-ibm , it has been implemented and merged as shown below.

<img width="1083" alt="image" src="https://user-images.githubusercontent.com/4205827/125351447-18dbf080-e32e-11eb-877c-dc8ce03853c1.png">

Unfortunately,` QuantumKernel.evaluate()`, while running on MPS simulator, cannot take advantage of this at this moment.

[2021-07-12 20:29] woodsp-ibm opened #158 "Random behavior improvements"
Algorithms normally have any random behavior done via the algorithm globals random generator as a simple central place to set seed to accommodate reproducibility.

`QSVC` - subclasses sklearn SVC which has random_state param. It might be desirable to pass up the algorithm globals seed to the parent during construction to allow the random state to be set based on the global seed.

And for `VQC` sin

[2021-07-13 10:40] adekusar-drl opened #159 "Extend type hints in the classifiers and regressors"
### What is the expected behavior?
Since we are going to introduce categorical labels (and perhaps categorical features), I think, we can re-consider type hints for the classifiers and regressors and make them more like in Scikit-Learn: `array_like`. This may allow to pass plain lists or other types. As an example take a look at the interface here: https://scikit-learn.org/stable/modules/generated

[2021-07-14 11:28] adekusar-drl commented on #71
@dlasecki Shall I close the issue?

[2021-07-14 17:55] #112 closed

[2021-07-15 07:17] #62 closed

[2021-07-22 12:43] MartinBeseda commented on #158
@woodsp-ibm Can I have a look at this  one?

[2021-07-28 11:06] #71 closed

[2021-07-28 17:30] dlasecki commented on #71
@adekusar-drl Sorry, I forgot to reply. Yes, thanks for closing.

[2021-07-29 16:56] woodsp-ibm opened #175 "Torchconnector fails in backward prop"
In the backward propagation this code checks `input_grad` and if _not_ None under certain a condition sets it to None

https://github.com/Qiskit/qiskit-machine-learning/blob/00831061ca0206af42e131fcb9b605c4acd404fa/qiskit_machine_learning/connectors/torch_connector.py#L158-L160

later in the same method it makes this call

https://github.com/Qiskit/qiskit-machine-learning/blob/00831061ca0206af42e1

[2021-07-30 11:55] adekusar-drl commented on #175
@woodsp-ibm Interesting, this may happen if `input_grad.shape` has a zero element. A solution off the top of my head is just to add an additional `if input_grad is not None` before the einsum, but I'm not sure. Is there a test case to reproduce the issue?

[2021-07-30 13:17] woodsp-ibm commented on #175
Indeed doing the einsum conditionally like that, which is how the failure was avoided so further progress could be made, but since it changed input_grad to None, which is then what is returned, I was not so sure. I don't have a small test case at present but I can see if I can get something even the failing code itself.

[2021-07-31 17:12] Shaw1801 opened #177 "ad_hoc_data(…) resulting in the test dataset as an array instead of a dictionary"
### Information

- **Qiskit Machine Learning version**: 0.2.0
- **Python version**: 3.8.5
- **Operating system**: Windows (10)

### What is the current behavior?
The function `ad_hoc_data(...)` is resulting in the test dataset as an array.
[code]
This is also evident from the following AttributeError message:
[code]
### Steps to reproduce the problem
Reproduced exactly from Qiskit's tutorials from

[2021-07-31 19:26] woodsp-ibm commented on #177
This was originally posted here https://stackoverflow.com/questions/68598726/ad-hoc-data-resulting-in-test-input-as-an-array-instead-of-a-dictionary

As I mentioned there the above code works fine if you use these imports
[code]
with the sample code. It shows you using Aqua in the error message i.e. it occurs related to

This tutorial from Machine Learning here shows using ad_hoc with the code her

[2021-08-01 12:12] Shaw1801 commented on #177
Yes I completely understand that. The following code works and makes sense.
[code]
But my doubt is : What should be my procedure of import after taking into consideration the deprecation. That is, like `from qiskit_machine_learning.datasets import ad_hoc_data` , what should be my "new" valid code for importing `split_dataset_to_data_and_labels` ? (i.e. importing without ANY DeprecationWarning)

[2021-08-01 13:58] woodsp-ibm commented on #177
I linked a new tutorial that shows the use of the ad_hoc dataset as it now is. Code when it was moved from Aqua was also possibly refactored/removed etc. While you code "works" in accessing the dataset, what you got back as values before is different from what you get now. Hence the error you got when trying to take data from the dataset here and giving it to the old aqua routine. If I change your

[2021-08-01 17:12] Shaw1801 commented on #177
Yes. @woodsp-ibm
Thank you so much for the detailed explanation.

[2021-08-01 17:12] #177 closed

[2021-08-01 19:43] MartinBeseda commented on #158
Dear @woodsp-ibm ,

I've tried to fix the issue. Is it ok like this?

Martin

[2021-08-02 10:06] ElePT opened #180 "Gradient warning with RawFeatureVector and Circuit/Opflow QNNs"
### Information

- **Qiskit Machine Learning version**: 0.2.0
- **Python version**: 3.9.6
- **Operating system**: macOS Big Sur 11.4

### What is the current behavior?
In both `CircuitQNN` and `OpflowQNN`, if `RawFeatureVector` is used as feature map, the following warning arises during the network initialization step:

[code]

This behavior was originally pointed out on issue #95, but it was only

[2021-08-03 01:42] ElePT commented on #180
Update: There is a confirmed bug in `RawFeatureVector` and I'll make a PR fixing it. Now we can see that if the parameters are bound, the following error arises:

[code]

[2021-08-05 15:53] woodsp-ibm opened #185 "Occasional unit test failure of `test_classifier_with_circuit_qnn_and_cross_entropy`"
The unit test below occasionally fails as below. This needs to be investigated to figure out why and code corrected as needed to ensure the result is consistent/reproducible.

[code]

[2021-08-11 09:59] adekusar-drl commented on #157
@omarshehab Could you please write a bit detailed description? I don't fully understand what is suggested to do here.

[2021-08-11 12:45] #75 closed

[2021-08-11 16:05] adekusar-drl commented on #157
As I see in `qiskit_machine_learning.kernels.QuantumKernel` implementation, only a required number of qubits is measured, basically it is the number of qubits in the feature map passed to `QuantumKernel`. If you don't pass a feature map, then `ZZFeatureMap(2)` is used. So, that's why I don't fully understand what is wrong in the implementation.

By the way, aqua and ` qiskit.aqua.algorithms.VQC` a

[2021-08-12 20:47] #158 closed

[2021-08-18 14:30] IceKhan13 commented on #175
I think, those cases should be handled in `NeuralNetwork` validate methods (validate inputs, weights and backwards).

https://github.com/Qiskit/qiskit-machine-learning/blob/00831061ca0206af42e131fcb9b605c4acd404fa/qiskit_machine_learning/neural_networks/neural_network.py#L217-L223

Looks like something is zeroing one of the dims in implementation of `_backward`.

I can look at it

[2021-08-18 14:45] adekusar-drl commented on #175
@IceKhan13 Sure, you can take a look.

[2021-08-20 18:35] manoelmarques commented on #185
I created a simpler sample to recreate the error. It seems to only happen for python 3.7 and it seems to be caused by Aer.
I couldn't recreate the error with BasicAer.
I could't recreate the error with python 3.8 either.
@woodsp-ibm couldn't  recreate the error on Windows with python 3.7.

For python 3.7  It failed on Ubuntu after 14 and 116 iterations and on MacOS after 161 iterations.

[code]

[2021-08-20 18:52] manoelmarques commented on #185
Also, this unit test method in the same file failed too under python 3.7 with similar error:
[code]

[2021-08-23 22:28] #180 closed

[2021-08-23 22:29] adekusar-drl commented on #95
Closed in #182.

[2021-08-23 22:29] #95 closed

[2021-08-25 14:53] adekusar-drl opened #194 "Fix randomization in the tutorials"
### What is the expected enhancement?
Currently, Qiskit Machine Learning tutorials use random number generator for various purposes, usually for generating datasets. This request aims at reviewing the tutorials and fixing a seed in the generator for reproducibility purposes.

[2021-08-25 15:02] adekusar-drl opened #195 "Make use of callbacks in the Neural Network Classifier & Regressor tutorial"
### What is the expected enhancement?
Training a classifier/regressor in the "Neural Network Classifier & Regressor" tutorial may take some time, so to make the tutorial more interactive and provide some insights into the training process I suggest to make use of the recently introduced callback interface and collect objective(loss) function values obtained from an optimizer. These values can be j

[2021-08-25 15:17] adekusar-drl opened #196 "Add title images to the tutorials"
### What is the expected enhancement?
Tutorials posted on the QML documentation page, https://qiskit.org/documentation/machine-learning/tutorials/index.html, may have a title image, e.g. the qGANs and Quantum Kernel tutorials have such images, while other tutorials do not. See the screenshot:
![image](https://user-images.githubusercontent.com/62334182/130815704-6421b720-ea2c-450f-9bdc-6a73e21f5aa9

[2021-08-29 22:56] #195 closed

[2021-08-30 21:47] woodsp-ibm commented on #194
@adekusar-drl In unit testing, other potentially random influences come from the simulator, e.g. random sampling for the shots. Also some transpilers have random aspect to their optimization pass - as such seed_simulator and seed_transpiler are also possible. Clearly though these are supposed to be a bit more like a real-world application than a unit test, but having them reproduce the same output

[2021-08-31 12:36] adekusar-drl commented on #194
@woodsp-ibm Main idea here is to have same datasets across multiple runs and since we plot them, then, I think, it is nice to have same plots/numbers every time we run the tutorials. Of course, we can extend the issue to cover other things and other seeds, like you said in transpiler, but, I guess, it can be done later when we fix the tests.

[2021-08-31 13:37] woodsp-ibm commented on #194
Ok, since the simulator will have shot noise when not using the statevector, I saw the qasm sim being used, but did not check which output/plots exactly came from it. Just noting that things may look a little because of that.

[2021-08-31 18:34] #194 closed

[2021-09-02 08:45] #175 closed

[2021-09-05 17:04] Gitter39 opened #204 "AQGD does not return objective function values properly."
### Information

- **Qiskit Machine Learning version**: Tested on 0.3.0 and 0.2.1
- **Python version**: 3.7.9
- **Operating system**: OSX

### What is the current behaviour?
Returns the same value for all iterations. Graph produced by `callback_graph` in Tutorial 2 looks like this:
![Screenshot 2021-09-05 at 18 00 50](https://user-images.githubusercontent.com/51174055/132135144-44a22b0e-1c5e-47b5-

[2021-09-07 10:40] vbelis opened #205 "QuantumKernel doesn't work with RawFeatureVector."
### Information

- **Qiskit Machine Learning version**: IBM Quantum Lab (Jupyter Notebook using the Qiskit v0.29.0 launcher)
- **Python version**: IBM Quantum Lab (Jupyter Notebook using the Qiskit v0.29.0 launcher)
- **Operating system**: IBM Quantum Lab (Jupyter Notebook using the Qiskit v0.29.0 launcher)

The behavior has been firstly reproduced also locally:
- **Qiskit Machine Learning version

[2021-09-09 11:48] desireevl opened #208 "Quantum Binary Neural Network"
### What is the expected behavior?

@Elliot-Coupe, @kaiterm and I have been working on an implementation of a quantum binary neural network following [this](https://iopscience.iop.org/article/10.1088/1367-2630/abc9ef/pdf) paper. We are interested to see if it can be incorporated into Qiskit anywhere and if this repository would be the appropriate place?

I think it would be difficult to use the pr

[2021-09-09 21:58] adekusar-drl commented on #208
Hello @desireevl, certainly, this repository is a good place for such algorithms as it is referred as a neural network, at least.
If you could share your algorithm design ideas, then we could discuss them in more details. At least a high level view of a possible implementation could be beneficial. So far, I see that it may fit or may not fit into the `NeuralNetwork` interface. QBNNs still have inp

[2021-09-09 22:00] adekusar-drl commented on #109
@frmetz Hi, are there any updates on quantum autoencoder?

[2021-09-10 00:40] YumaNK commented on #196
Hi! I would like to begin contributing Qiskit Machine Learning from this issue!

[2021-09-10 07:50] adekusar-drl commented on #196
Hi! Sure, you can do this.

[2021-09-12 10:48] YumaNK commented on #196
I sent pull request.
https://github.com/Qiskit/qiskit-machine-learning/pull/210

[2021-09-12 13:22] frmetz commented on #109
Sorry, I am terribly busy at the moment and totally forgot about it. I will make some time as soon as possible and have a look at it again. However, if anyone else wants to implement it, don’t wait for me and go ahead.

[2021-09-13 09:55] adekusar-drl commented on #109
OK, thanks for the update. So far we don't have any plans for autoencoders.

[2021-09-13 12:52] adekusar-drl opened #212 "Update variational algorithms to make use of a new interface of `Optimizer`"
### What is the expected enhancement?
Calls to `Optimizer.optimize` must be replaced with `Optimizer.minimize()` as of https://github.com/Qiskit/qiskit-terra/issues/6382. The former method is deprecated now.

[2021-09-13 15:17] #212 closed

[2021-09-14 00:43] calebj15 opened #215 "Implement Quantum Kernel Alignment Algorithm"
### What is the expected enhancement?
Implement the quantum kernel alignment (**QKA**) algorithm as a Qiskit application. Generally, the inputs/outputs will be:

**Inputs**:
    * feature_map: A `QuantumCircuit` object which maps input data to a quantum feature space
    * data: A labeled dataset
    * optimizer: An `Optimizer` object to be used during kernel tuning
    * backend: A quantum backen

[2021-09-14 12:56] adekusar-drl commented on #205
When a quantum kernel is being computed, an inverse circuit is constructed to be re-used with training data. The problem is that `RawFeatureVector` does not support `inverse` operation which is required to compute a quantum kernel. From the `RawFeatureVector` documentation: "The circuit contains a placeholder instruction that can only be synthesized/defined when all parameters are bound." Basicall

[2021-09-14 18:46] woodsp-ibm opened #217 "VQC fails to initialize from minimal settings"
This problem was brought up here https://qiskit.slack.com/archives/CB6C24TPB/p1631635618251500

The following should create a VQC instance with default feature map and ansatz.
[code]
however it fails with
[code]
It seems to be from this logic https://github.com/Qiskit/qiskit-machine-learning/blob/673140c0624ad928ec1b6da307e58221847c48da/qiskit_machine_learning/algorithms/classifiers/vqc.py#L106-L1

[2021-09-15 09:26] #196 closed

[2021-09-15 12:30] adekusar-drl opened #218 "Printing a QSVC instance raises an exception"
### Information

- **Qiskit Machine Learning version**: latest sources
- **Python version**: all
- **Operating system**: all

### What is the current behavior?
If you print an instance of `QSVC` an exception is risen:
[code]

### Steps to reproduce the problem
Snippet to reproduce the exception:
[code]

### What is the expected behavior?
No exception to be risen.

### Suggested solutions
Remove su

[2021-09-15 14:02] vbelis commented on #205
Thank you for the info and answer. I would like to understand better some points from the `RawFeatureVector` documentation.

- How does the statement "The circuit contains a placeholder instruction that can only be synthesized/defined when all parameters are bound." connect to the fact that there is no inverse operation? In this context what does it mean to have "bound parameters"?
- In the docume

[2021-09-15 14:54] adekusar-drl commented on #205
"bound parameters" means that all parameters of a circuit have an actual value bound, not a parameter placeholder, e.g. instead of `x` we have a value of, say, `2`. In case of `RawFeatureVector` it is a bit more complicated. A circuit that represents `RawFeatureVector`does not exist until all parameters are known and bound. In other words, this is what is stated in the cited documentation.

In `Qu

[2021-09-15 15:37] vbelis commented on #205
Thank you once again for the detailed and prompt reply.

OK I was just wondering because in the previous versions of qiskit (before the deprecation of Aqua, e.g., 0.23.2) having a QSVM with a RawFeatureVector was possible.

[2021-09-15 20:38] stefan-woerner commented on #205
@vbelis using `RawFeatureVector` (RFV) as feature map in the `QuantumKernel` is actually the same as just computing a quadratic classical kernel: Suppose two state `|phi>` and `|psi>` coming from a feature map applied to 2 data points, then, the quantum kernel computes `|<phi|psi>|^2`. Since RFV maps a classical vector `x` to `\sum_{i=0}^{2^n-1} x_i |i>` the quantum kernel with RFV will just do `|

[2021-09-16 08:46] vbelis commented on #205
@stefan-woerner thank you for the message and explanation. It is clear that an amplitude encoding circuit as a feature map, i.e., `RawFeatureVector`, reproduces the quadratic kernel. My goal was to extend the `RawFeatureVector` circuit by attaching additional circuits achieving different feature maps for the `QuantumKernel`, some of which could have also trainable parameters. If I have understood

[2021-09-16 09:14] adekusar-drl commented on #205
There is a PR #219 where we will introduce trainable parameters in `QuantumKernel`. Maybe it is what you are looking for?

[2021-09-16 14:34] omarshehab opened #221 "ad_hoc_data() should handle error gracefully when n > 3"
### Information

- **Qiskit Machine Learning version**: 0.2.0
- **Python version**: 3.9.5 (default, May 18 2021, 12:31:01) [Clang 10.0.0 ]
- **Operating system**: Darwin

### What is the current behavior?
When `n > 3`, `ad_hoc_data()` generates the following runtime error.

[code]

### Steps to reproduce the problem

Set `n > 3` when invoking `ad_hoc_data()`.

### What is the expected behavior?
It

[2021-09-16 16:28] woodsp-ibm commented on #221
I think it is setup for n or 2 or 3 only. In which case it would be better if any other value was rejected with a suitable error message.

Also this ought to be in the documentation for the dataset. I see in general the datasets have some very minimal docstring that does not document the args. So things could be improved in this area as well.

[2021-09-17 11:03] vbelis commented on #205
Thanks for pointing this out, it seems that PR #219  addresses trainable parameters in `QuantumKernel`. However, I would really appreciate any information about the following. In older versions of qiskit, before the Aqua deprecation (e.g., qiskit version 0.23.2), it was possible to create a `QSVM` equipped with a kernel that is constructed from the `RawFeatureVector`. This would simply create an S

[2021-09-19 11:35] woodsp-ibm opened #224 "VQC & VQR missing quantum instance arg in docstring"
VQC & VQR have quantum_instance as a parameter in the constructor but it's missing in the online docs as its not listed in the args of the docstring of their constructor and should be.

[2021-09-20 13:49] adekusar-drl commented on #205
@vbelis A lot of things have been changed in the transition from Aqua to dedicated applications modules. For now we don't have plans to enhance `RawFeatureVector`.

[2021-09-22 07:55] #204 closed

[2021-09-22 11:28] adekusar-drl opened #226 "Add support for tunable feature maps within QuantumKernel class"

[2021-09-22 11:29] adekusar-drl opened #227 "Implement a quantum kernel trainer class"

[2021-09-22 11:29] adekusar-drl opened #228 "Implement the QKA runtime"

[2021-09-27 16:53] dquero opened #232 "Clustering Algorithms using Quantum Computing"
With regards to ML, Qiskit 0.30 provides Quantum Neural Networks, Neural Network Classifier, Quantum Kernel Machine Learning, qGANs for Loading Random Distributions and Torch Connector and Hybrid QNNs.
I'm working to generate Clustering algorithms. At least k-means. Do you find it useful? Any suggestion?

[2021-09-27 21:26] adekusar-drl commented on #232
Hi, certainly, this repository is a good place for quantum machine learning algorithms. If you could implement a new algorithm using Qiskit machinery, then it would be a good addition to this package. Let me know if you have questions on Qiskit!

[2021-09-28 09:34] vbelis commented on #205
@adekusar-drl thank you for the valuable information provided in this thread. Since I do not have currently any questions or remarks I will close the issue.

[2021-09-28 09:34] #205 closed

[2021-09-28 16:02] ksk0629 opened #233 "How to save model"
I finished the notebook `02_neural_network_classifier_and_regressor.ipynb` and then I trained quantum classifiers with Iris dataset. Now I want to save the models, but I couldn't find a such function. How should I do to save these?

[2021-09-29 12:37] adekusar-drl commented on #233
Unfortunately there's a direct way to save and load models. If you write something like `fit_result = a_vqc._fit_result` (I know, this is a direct access to the kind of private properties) you may get an instance of `OptimizerResult` with the trained parameters of the QNN.

Certainly, an interface for loading and saving models requires more attention and implementation.

[2021-09-29 20:06] ksk0629 commented on #233
@adekusar-drl Thank you for your answer! I ran the code `fit_result = a_vqc._fit_result` and I printed `fit_result`, but I'm not sure the meaning of its elements and how to reconstruct QNN with the `fit_result`. So, I now have two questions.

1.  Could you tell me the meaning of `_fit_result`? (I searched it on qiskit document, but I couldn't find it.)
2. How do I reconstruct QNN with the `fit_res

[2021-09-29 22:27] adekusar-drl commented on #233
Well, I've never tried and it may not work. Yes, there's no documentation on `_fit_result`, this is an internal property that is set when a NN is trained. It is an instance of `OptimizerResult`. That's weird, but I don't see an official documentation for this class, easily can open a bug on this, this is a public class. I guess, but as I said I've never tested, if you construct a new NN model, sam

[2021-10-01 04:48] ksk0629 commented on #233
@adekusar-drl Thank you for your information again. I ran the following codes but it seems not to work correctly.

[code]

[2021-10-01 08:00] adekusar-drl commented on #233
There may be a noise introduced by the simulator. The results are pretty close to each other.

[2021-10-01 08:06] ksk0629 commented on #233
Oh, I got it. Thank you. Running the codes `new_opflow_classifier.score(x_01_test, y_01_test)` repeatedly, then it showed 0.85 or 0.9 that is same or pretty close to the original score as you said.

[2021-10-05 10:06] #224 closed

[2021-10-05 10:37] adekusar-drl commented on #233
May I close the issue? Feel free to open a feature request for loading/saving models or work on a pull request with an implementation of this feature.

[2021-10-06 16:42] #218 closed

[2021-10-08 04:40] ksk0629 commented on #233
Yes. Thank you for your all information.

[2021-10-08 07:45] gcattan opened #240 "Sklearn wrapper around QSVM and VQC"
### What is the expected behavior?

We developed a sklearn wrapper around QSVM and VQC [here](https://github.com/gcattan/pyRiemann-qiskit/blob/gc/quantum/pyriemann_qiskit/classification.py).
A possible use-case would be something like this:

[code]

Is this work of interest for the qiskit-ml community?

[2021-10-11 08:23] dlasecki opened #241 "Implement PoC of convolutional neural networks."
The goal of this issue is to prepare a proof of concept implementation of quantum convolutional neural networks. It might be used for benchmarking, performance comparisons etc.

[2021-10-11 17:20] adekusar-drl opened #242 "Improve unit tests when batching is used in QuantumKernel"
### What is the expected enhancement?
Recently `QuantumKernel` was improved when a statevector simulator is used, see #209. This modification makes use of `batch_size` parameter. The unit tests does not verify that this parameter is used correctly cause such check requires intercepting the calls to `QuantumInstance`. This issue is raised to improve the tests in this regard. For more details see th

[2021-10-11 20:08] #240 closed, assigned to nobody

[2021-10-25 22:40] yogeshriyat opened #249 "Computer vision?"
Hello - this is more of a question:

I am working on a computer vision multi-label classification project, and I am wondering if I can train it also with quantum neural nets? If so, does anyone have a tutorial where they have demonstrated this?

Also, do you guys have a Slack community or something like that where this type of question would be more appropriate?

Thanks in advance,
Yogesh

[2021-10-27 14:38] sri1905 opened #251 "Multi-class classification with qiskit's VQC"
I am following the tutorial given in qiskit's website [Neural Network Classifier and Regressor][1]. In the first part, classification, the third section refers to qiskit's VQC library. Everything works fine with the given X and y where there are only two classes. I modified the X and y slightly to include four classes instead of two using the following lines:

    num_inputs = 2
    num_samples =

[2021-11-01 19:45] dquero commented on #232
I have my first version of the k-means classifier.
It does not use the euclidian distance but the cos of the angle, what is directly proportional to the distance as it can be seen in related literature.   I'm attaching the program here, I'm at your disposal for next actions.
[k-means.txt](https://github.com/Qiskit/qiskit-machine-learning/files/7455735/k-means.txt)

[2021-11-02 10:41] adekusar-drl commented on #232
Thanks a lot. I have a few questions:
1. Is the algorithm from a paper? If so, could you please share the paper then? If no, please provide a description of the algorithm.
2. What is the advantage of using quantum computers in this algorithm?
3. Are there any comparisons versus classical algorithms?
4. The code is in the text file. If you want to finally make a contribution to QML, please take a l

[2021-11-02 19:02] #217 closed

[2021-11-09 10:09] RicardoMonteiroSimoes opened #254 "Expand CircuitQNN to allow for custom measurments"
### Current situation
When using [CircuitQNN](https://github.com/Qiskit/qiskit-machine-learning/blob/main/qiskit_machine_learning/neural_networks/circuit_qnn.py), we are limited to a basic `measure_all()` operation. Whilst this isn't _bad_ per se, allowing the user to supply his own measurements would allow for a wider variety of circuits. Currently, the measured result gets interpreted as a binar

[2021-11-10 15:07] dquero commented on #232
The algorithm is one of the well known family of attempts to make clustering / non-supervised machine learning more efficient by estimating distances with quantum computing. There are many articles written about it, I even could learnt from it in Spanish. Some examples:
1. Esma Aïmeur, Gilles Brassard y Sébastien Gambs. “Aceleración cuántica para el aprendizaje no supervisado”. En: Machine Learnin

[2021-11-17 11:05] adekusar-drl commented on #249
@yogeshriyat If you don't have other questions, would you mind closing the issue?

[2021-11-18 17:01] sri1905 opened #256 "qiskit.aqua.components.multiclass_extensions has no newer equivalent"
### What is the expected enhancement?

The migration guide at qiskit.aqua shows there is no equivalent for multiclass_extensions. It would be great if the new qiskit provides this feature too. Do let me know if something already exists. Thank you !

[2021-11-18 21:27] #249 closed

[2021-11-25 23:59] adekusar-drl commented on #256
@sri1905 I believe there's no need to port `multiclass_extensions`. If you want to run multi-label classification via QSVC (is it what you are looking for?) then everything should work out of box. For example a 3-label classification on the `iris` dataset:
[code]
Produces on my laptop:
[code]
Please let me know if you have questions.

[2021-11-26 00:04] adekusar-drl commented on #232
Sorry for the delay. The idea, in general, is clear. There's nothing on unsupervised learning so far. The implementation may be a good contribution.
Meanwhile, could you please provide an article in English? I don't read in Spanish, unfortunately.

[2021-11-28 11:10] jonvet commented on #251
I looked a bit into this. I you run your script there is a warning that gives a hint:
[code]
looking at `predict` I saw that it's a (100, 4) array, but the 4th column is all zeros, leading to this warning and eventually the nans.

the zeros seem to be coming from here `qiskit_machine_learning.neural_networks.circuit_qnn.CircuitQNN._probabilities`.
in particular from this loop:
[code]
where key is

[2021-11-28 12:17] jonvet commented on #251
I can take a look at it if you assign me

[2021-12-03 16:47] babcockt18 opened #265 "NaturalGradient not recognized in QNN"
### Environment

- **Qiskit Machine Learning version**: 0.2.1
- **Python version**: 3.8.10
- **Operating system **:  Qiskit v0.32.1 (ipykernel) in IBM Quantum Experience Lab

### What is happening?

When instantiating an instance of the OpflowQNN using the NaturalGradient function from qiskit.opflow, the OpflowQNN doesn't recognize the NaturalGradient as a parameter input and returns the statement

[2021-12-06 17:12] adekusar-drl commented on #251
@jonvet Sorry, I missed the comments. Feel free to take a look.

[2021-12-07 08:24] Sudeep09 opened #267 "Predicted probabilities for VQC from qiskit_machine_learning.algorithms"
### What is the expected enhancement?

Below is a code snippet which allows you to calculate the probability of the predicted label by extending the VQC classifier. I felt that the piece is missing in the latest VQC from qiskit_machine_learning.algorithms. Hence, adding the working code below:

from qiskit_machine_learning.algorithms import VQC
import numpy as np

class VQC_Extended(VQC):
    def

[2021-12-07 08:26] Sudeep09 commented on #267
The above added code snippet works well for any multilabel scenario, so closing the issue. Any additional suggestions are welcoming.

[2021-12-07 08:26] #267 closed

[2021-12-07 20:09] mikevitz commented on #265
I am also having this issue in a similar context.

[2021-12-08 05:17] sri1905 commented on #251
Thank you for taking this up @jonvet. Meanwhile, are there any alternate ways to perform multiclass classification with the qiskit library?

[2021-12-08 11:17] adekusar-drl commented on #251
@sri1905 Yes, I posted an example in the parallel issue you opened: https://github.com/Qiskit/qiskit-machine-learning/issues/256. Then in case of `CircuitQNN` you may pass a custom interpret function that maps measured outcome from the QNN to class labels. In case of OpflowQNN, custom observables need to be passed to `OpflowQNN`.

[2021-12-08 14:46] cnktysz opened #270 "Better batch size default setting for QuantumKernel"
### What is the expected enhancement?

The default batch size value of the Quantum Kernel (currently 900) might create unnecessary jobs when the user is not careful. The main reason for this is that some IBMQ backends have different maximum circuit values (e.g. 100, 300). To avoid this issue setting the default value to 0 and disabling batching would be better in the long run. This way advanced us

[2021-12-08 15:00] woodsp-ibm commented on #270
7? or 4?

The way things were done was the algorithm was, in general, independent of any backend with the quantum instance responsible for any breakdown of the circuits into jobs based on backend limitations.

My recollection is that the problem in this instance is that with larger kernels the sheer amount of circuits it could generate would cause out-of-memory errors. Hence a local limit (batch s

[2021-12-08 15:04] cnktysz commented on #270
It is 7(300+100)*3+300. IBMQ backend creates jobs that can fit to max_circuits, that is why 2 jobs are created when you pass 400.

We (me and @adekusar-drl ) thought turning it off would be easiest fix.

[2021-12-08 15:09] woodsp-ibm commented on #270
Ok it did not state that 400 was the batch size. 1500 circuits with 400 batch size and 300 max circuits on backend would indeed create an inefficiency.

As to turning it off by default, as the easiest fix, I think you need to investigate behavior with larger kernels and ensure we don;t run out of memory. Maybe the default could be informed via the quantum instance - though of course for local simu

[2021-12-08 15:11] cnktysz commented on #270
Yes, you are right. The plan is to create a quantum instance that can test if we don't run out of memory and get the expected behaviour.

[2021-12-08 15:13] woodsp-ibm commented on #270
I found the original issue before we had any limit on kernel Qiskit/qiskit-aqua#208 (of course things have changed a bit since back then but I think the memory consumption is still an issue that needs care taken)

[2021-12-08 15:14] woodsp-ibm commented on #270
I am not sure how doable that is - the Python process will often simply abend if its out of memory.

[2021-12-08 15:17] woodsp-ibm commented on #270
FYI the change from 1000, that was set back then, to 900, for better match/efficiency to backends is relatively recent #150

[2021-12-09 08:32] sri1905 commented on #251
Thank you. This helps a lot.

[2021-12-09 08:32] sri1905 commented on #251
Sorry, I closed it by mistake.

[2021-12-09 08:40] sri1905 commented on #256
@adekusar-drl thank you for your example. It does show how to perform classification with 3 classes. However, I believe there is an issue with four or more classes as @jonvet demonstrated in #251. I shall implement once and let you know if I face any errors/irregularities. Thank you

[2021-12-09 12:40] beyond997 opened #271 "Gradient calculations in some optimizers are invalid"
### Environment

- **Qiskit Machine Learning version**:0.2.1
- **Python version**: 3.8.5
- **Operating system**: linux

### What is happening?

I found that most optimizers such as GradientDescent and SciPyOptimizer, define the function _gradient_num_diff_  to estimate the gradient. AQGD defines __compute_objective_fn_and_gradient_ to calculate the analytical gradient.

In fact, when running VQC,

[2021-12-09 22:46] adekusar-drl commented on #271
Hello,

I'm not quite sure, I understand the issue. We provide an objective function and a function that computes gradient of the objective and we pass both of them to the optimizer. So, I don't see any issues here.

The way how optimizers are called was changed slightly, as well the optimizer interface. Please take a look at the lines in `NeuralNetworkClassifier`: https://github.com/Qiskit/qiskit

[2021-12-09 22:47] adekusar-drl commented on #256
@sri1905 Was this issue resolved? I'm not closing #251meanwhile.

[2021-12-10 04:21] beyond997 commented on #271
Thank you for your response @adekusar-drl
I am new to quantum machine learning, so my understanding is rather shallow. I'm sorry if my description for the issue is a bit confusing. I just can't understand if _NeuralNetworkClassifier_ passes the gradient to the optimizer, then the function defined in the optimizer to calculate the gradient will not be called.

The key is that, for example, since AQ

[2021-12-10 10:30] adekusar-drl commented on #271
That's right.

Yes, by default we pass a function that computes exact gradient via the param shift rule.

An optimizer does not have to estimate gradients anyhow. It may fully rely on the functions passed to it. And since we don't have any assumptions here, we manually construct a gradient function. The way how an optimizer estimates gradients may be inefficient, so if one can build a gradient fun

[2021-12-10 10:55] beyond997 commented on #271
Thank you for your detailed answer。 @adekusar-drl I have understood your explanation and it is a great help for me. Thanks again.

[2021-12-10 10:59] adekusar-drl commented on #270
@woodsp-ibm Idea here to align batches in QK with batches on hardware as much as possible. In some cases this may lead to a reduced number of jobs submitted, thus less time to train a model. There's no intention to remove currently available batching features of `QuantumInstance`, but rather add a new one. For instance, if we pass a zero batch size then we fully rely on batching on hardware level

[2021-12-10 10:59] #271 closed

[2021-12-10 11:33] sri1905 commented on #256
Yes, this issue can be closed. Thank you

[2021-12-10 11:41] #256 closed

[2021-12-13 17:36] woodsp-ibm commented on #270
To align the batch size with the remote entity based on some remote circuit size limit per job seems fine. Some auto mode - that's what you want some magic value to do it seems - better than have the user know about these things I agree. Just saying when auto configured with a local simulator, since there will be no job limit, the batch size just needs to take care that too many circuits are not b

[2021-12-14 19:48] #227 closed

[2021-12-17 05:42] prakharb10 commented on #232
Hi
I recently worked on an implementation of K-Means Clustering as part of my college lab mini-project. I followed the implementation outlined here: https://arxiv.org/abs/1804.10068 pg.32-35.
I'm sharing the code with you. If it seems like a good fit, I would be willing to contribute to the module, following the guidelines
[qml.zip](https://github.com/Qiskit/qiskit-machine-learning/files/7732304/q

[2021-12-17 09:07] adekusar-drl commented on #232
@prakharb10, Yes, a clustering algorithm can be a good contribution to Qiskit Machine Learning as we don't have anything on that implemented.

[2021-12-19 15:41] dquero commented on #232
Hi, @prakharb10 and @adekusar-drl.
It seems that we both are following the same principle: P(1) in the control qbit of a cswap gate is a monotonous growing function with regards to the euclidiean distance of the swapped points.  As indicated above, what I do different vs what I have found is to measure all the distances to the clusters at the same time. In parallel. The fact that the numbers of qb

[2021-12-20 03:20] prakharb10 commented on #232
Hi @dquero . I'm unable to open the notebook you shared. Maybe like @adekusar-drl mentioned you could share the source paper for your implementation, in English so we could peruse that.

[2021-12-20 09:40] dquero commented on #232
Hi, I'm working to find the information in English or translate it on my own.
With regards to the code, I always work on-line, using the IBM Quantum Lab in IBM Quantum. The file is just exported from there (formatted and added the extension .txt to be allowed to upload it here). Anyway, maybe the easiest thing is you copy it from the lines below.

"""k_means_formatted."""

# Importing standard Qis

[2021-12-26 16:42] andrenmelo opened #275 "Current Iris normalization seems to worsen performance"
### Environment

- **Qiskit Machine Learning version**: 0.3.0
- **Python version**: 3.9.7

### What is happening?

The data normalization procedure in the `iris` dataset seems to make the classification harder. I came across this issue when trying to reproduce the results of [arXiv:2011.00027](https://arxiv.org/pdf/2011.00027.pdf), where a standard QNN is trained on the first two classes of iris w

[2022-01-09 19:52] drjpeibol opened #278 "Ad_hoc_dataset() not working for n==3"
### Environment

- **Qiskit Machine Learning version**:0.3.0
- **Python version**: 3.8.1
- **Operating system**: Linux

### What is happening?

The function ad_hoc_dataset() fails when setting n==3.

### How can we reproduce the issue?

Example of the code and the error:

[code]

[code]

### What should happen?

The function should provide a 3 dimension dataset.

### Any suggestions?

It was worki

[2022-01-11 15:24] adekusar-drl commented on #251
@jonvet Any updates on the issue? I can re-assign if you are busy.

[2022-01-12 13:43] dlasecki opened #279 "Implement calculation of probability distributions for QBM."
Includes calculating a probability distribution from input data and from a Gibbs state for a Quantum Boltzmann Machine.

[2022-01-12 13:44] dlasecki opened #280 "Implement forward and backward passes for QBM."
The implementation of the Quantum Boltzmann Machine should follow the `NeuralNetwork` interface.

[2022-01-12 13:46] dlasecki opened #281 "Implement calculation of loss function and its gradients for QBM."
The implementation should make us of gradients calculated from a Gibbs state to calculate gradients of a loss function for a Quantum Boltzmann Machine.

[2022-01-13 10:08] jonvet commented on #251
sorry for the delay, I will look into it this weekend

[2022-01-18 07:36] dquero commented on #232
Hi, again.
After reading carefully the article mentioned above (https://arxiv.org/abs/1804.10068) I see that the principle of the code is the same: using cswap gates to get a metric that is a monotonous growing function with regards to the euclidiean distance. And therefore, it is valid to calculate what is the nearest centroid of each point.
What I do different is:
   - I calculate all the point-

[2022-01-18 17:28] declanmillar commented on #265
Hi,

This issue was due to a problem in `qiskit-terra` that was fixed between version `0.18.3` and `0.19.0`.

Upgrading `qiskit` to version `0.33.0` or later should allow the above code to run.

Let me know if you have any further problems!

[2022-01-19 11:44] adekusar-drl commented on #265
@babcockt18 @mikevitz Could you please review the issue and confirm the problem is solved as mentioned above?

[2022-01-19 15:32] adekusar-drl commented on #232
@dquero Thanks a lot for the update. Let me take a look at the code and at the paper.

[2022-01-19 19:03] declanmillar commented on #265
For the curious, I believe it was [this](https://github.com/Qiskit/qiskit-terra/pull/6918) pull request that fixed the problem.

[2022-01-20 16:36] #251 closed

[2022-01-20 17:42] andb0t opened #286 "Is there GPU support for qiskit-machine-learning?"
### What is the expected enhancement?

Hi there,

I see `qiskit-aer` providing GPU support via `qiskit-aer-gpu`, can this repo do the same? I'm not into the details, but I suspect there must be some advantage?

Cheers!

[2022-01-21 09:44] adekusar-drl commented on #286
We don't have explicit support for GPU. Algorithms in this repo rely in `qiskit-aer` if they are run on a simulator. Thus they may indirectly benefit from such a support. But, I admit, this is a topic that should be explored in more details.

[2022-01-21 15:55] mikevitz commented on #265
@adekusar-drl I have reviewed and can confirm -- the code above works now.  Thanks!

[2022-01-21 15:57] #265 closed

[2022-01-24 18:18] #278 closed

[2022-01-25 22:29] adekusar-drl commented on #221
Fixed in #287

[2022-01-25 22:29] #221 closed

[2022-01-26 08:01] dlasecki opened #289 "Implement discriminative version of QBMs."
TODO

[2022-01-26 08:02] dlasecki opened #290 "Implement generative version of QBMs."
TODO

[2022-01-26 08:02] dlasecki opened #291 "Implement generative version of QBMs."
TODO

[2022-01-26 08:02] #290 closed

[2022-01-26 12:08] adekusar-drl commented on #185
I have not seen this issue for a long time. If I recall correctly randomization was fixed in the unit tests and perhaps some randomization was also fixed in simulators.
 @woodsp-ibm should we close it for now?

[2022-01-26 12:11] adekusar-drl commented on #208
@desireevl Is binary neural network still in your plans or I may close the issue?

[2022-01-26 12:12] desireevl commented on #208
You can close the issue. Sorry, did not have time for this

[2022-01-26 12:24] adekusar-drl commented on #109
@frmetz Closing this issue as an inactive one. You may re-open if you get back to this topic.

[2022-01-26 12:24] #109 closed

[2022-01-26 12:39] adekusar-drl commented on #286
I had a look at the GPU support in Qiskit Aer. If you have GPU support installed for Aer, then you can create a simulator that runs on a GPU like this:
[code]
Once you created the simulator, you can create a `QuantumInstance` for this simulator:
[code]
And basically you are done. Everything algorithm you run on this quantum instance will run circuits on GPU. So right now there's no need to do anyt

[2022-01-26 12:54] andb0t commented on #286
It does answer it, thank you!

[2022-01-26 12:55] andb0t commented on #286
Basically for most cases, even installing `pip install qiskit-aer-gpu` should suffice, or not?

[2022-01-26 12:58] adekusar-drl commented on #286
Yes, you have to install `qiskit-aer-gpu` first then instantiate a simulator with GPU support enabled manually and pass it to a quantum instance. That's it.

[2022-01-26 13:32] adekusar-drl commented on #286
@andb0t Do you need more info or I can close the issue?

[2022-01-26 13:32] andb0t commented on #286
Thanks! Closing the issue now.

[2022-01-26 13:32] #286 closed

[2022-01-26 14:13] dlasecki opened #292 "Implement quantum circuits for convolutional neural networks."
The goal of this issue is to build quantum circuits that execute the quantum part of the processing.

[2022-01-26 14:15] dlasecki opened #293 "Integrate convolutional neural network quantum circuits with exisiting interfaces."
The goal of this issue is to make use of existing interfaces for neural networks and reuse loss functions, optimizers etc. for convolutional quantum neural networks.

[2022-01-26 21:58] dquero commented on #232
In this thread I found an empty space in quantum machine learning area of qiskit: clustering algorithms; I suggested the implementation of one of them (k-means) based on the use of cswap gates; I provided some of the papers demonstrating the algorithm is equivalent in results to the classical one; I also suggested the parallelization of the distance calculation in one shot (based on the roadmap nu

[2022-01-26 21:58] #232 closed

[2022-01-27 14:29] adekusar-drl commented on #275
Hi, the `iris` function in Qiskit Machine Learning is not the same in `scikit-learn`. In Qiskit Machine Learning, the dataset functions like `iris`, `digits`, etc take a parameter `n` that describes how many features must be in the output dataset. Internally these function apply PCA to reduce the number of features to the desirable number defined by `n`. In this case despite in the original iris d

[2022-01-27 14:30] dlasecki opened #295 "Implement ignoring hidden units for probability sampling in QBMs."
QBMs consist of visible and hidden units which define a partition of an underlying Gibbs state used for sampling. The goal of this issue is to ignore hidden qubits in the Gibbs state when sampling probabilities for the purpose of a QBM.

[2022-01-27 16:10] bb511 opened #296 "The warm_start=True attribute in the VQC class is broken"
### Environment

- **Qiskit Machine Learning version**: 0.3.0
- **Python version**: 3.9.7
- **Operating system**: Red Hat 7.9

### What is happening?

Trying to perform two or more fits with the current VQC class, when `warm_start=True`, produces the following error:
[code]
**This bug was introduced with 0.3.0. In previous versions, `warm_start=True` did not produce this issue.**

### How can we r

[2022-01-27 16:36] woodsp-ibm commented on #296
In Terra the optimizers were refactored and the old `optimize` method, that returned a tuple (subscriptable) was deprecated and a new method `minimize` was created that returns OptimizerResult object. I looks like the code was updated to the new method but the return/result handling was not altered - leading to the failure you see.

[2022-01-27 22:26] woodsp-ibm commented on #185
As @manoelmarques sees info from nightlies etc maybe he has some thought. On my part if its not been seen in a while I would say close it it - if it starts again this or another new issue can always be (re-)opened etc.

[2022-01-28 00:01] manoelmarques commented on #185
@adekusar-drl @woodsp-ibm I haven't seen any random error in the nightly builds in months. Also, I ran both samples above locally in my MacOS and they didn't fail even after more than 600 iterations while they would fail fast before.
We can close this issue. The problem seems to have been fixed.

[2022-01-28 09:28] adekusar-drl commented on #185
@manoelmarques Thanks for looking into this. Closing the issue.

[2022-01-28 09:28] #185 closed

[2022-01-28 11:40] bb511 opened #297 "Training the VQC in batches, where one batch happens to have only one label, leads to error"
### Environment

- **Qiskit Machine Learning version**: 0.3.0
- **Python version**: 3.9.7
- **Operating system**: Red Hat 7.9

### What is happening?

I am training a VQC with batches of data. Whenever I am lucky/unlucky enough that a batch only contains one of the two classes in my data set, the VQC throws the following error:
[code]

### How can we reproduce the issue?

Reproduce the issue by ru

[2022-01-30 14:46] andrenmelo commented on #275
Dear @adekusar-drl: I understand the motivation behind the preprocessing done on qiskit machine learning. However, the current pipeline degrades performance at all n, not just 4. That to me indicates that the preprocessing should be done differently.

[2022-01-31 10:44] adekusar-drl commented on #275
@andrenmelo Dimension reduction causes performance degradation, it is a no brainer for me. Do you have suggestion what can be changed?

[2022-02-03 05:20] sri1905 commented on #251
@jonvet @adekusar-drl, I updated qiskit and qiskit_machine_learning using `pip install -U qiskit qiskit_machine_learning`. Even after this, I am still getting the same issue for multiple classes. The objective_function_vals (losses) are all **_nan_** and weights are **_constant_**.
How can I get the version of qiskit and qiskit_machine_learning that you have fixed ? Thank you

[2022-02-03 09:10] adekusar-drl commented on #251
In my case:
[code]
I get `0.4.0`. This is a developer version.

Same for qiskit:
[code]

[2022-02-03 09:37] sri1905 commented on #251
The versions I have are:
[code]

As you have mentioned I can not get qiskit_machine_learning==0.4.0. However, I can manually install qiskit==0.20.0 but this causes dependency conflicts between qiskit-machine-learning and qiskit-terra:

If I try to install qiskit_terra>=0.19.1, I get a conflict between qiskit and qiskit-terra

Couple of other issues, I wanted to bring to your notice were:
The follo

[2022-02-03 09:56] adekusar-drl commented on #251
To make use of the fix, you have to install qiskit machine learning 0.4.0, a developer version, since this fix has not been released yet. This means you have to install it from the sources. So far, QML requires qiskit-terra >= 0.19.1 which was released some time ago. To get of the errors, I suggest to have a clean python environment without any qiskit packages. In this environment, please install

[2022-02-04 15:33] sri1905 commented on #251
@adekusar-drl @jonvet Thank you so much for all the clarification and help. Just one last thing, I am trying to train a large dataset with qiskit's classifiers. Could you please guide me to a resource which illustrates fundamentals of real world application of qiskit machine learning? I have not been able to find answers despite going the documentation and qiskit's youtube videos. The qiskit docum

[2022-02-04 15:50] adekusar-drl commented on #251
I'm not sure I understood what you are looking for. What is "real world application"? A real dataset? Training on a real and especially large dataset may be pretty painful. It may be take a lot of time.

Take a look here: https://qiskit.org/textbook-beta/course/machine-learning-course/ This is a brand new chapter on quantum machine learning in the Qiskit textbook. May be you find something new.

[2022-02-04 16:24] sri1905 commented on #251
Sorry for generalising the terms. I meant a dataset with 1,000-10,000 datapoints and 100-1000 features. I have gone through the interactive course but yes, will take a look at it because I believe it recently got updated. Yes, it is very painful, using an aer simulator it took over 1hr to train 280 x 10 dataset on 10 qubits and the resulting accuracy was 22%

I am mainly looking for guidelines on

[2022-02-04 16:57] adekusar-drl commented on #251
Oh, these are large numbers! Many samples may be tackled via `warm_start` parameter. You split a dataset into batches and train a model on each batch with `warm_start=True` sequentially, except for the first batch, of course. But this feature may be broken, a couple of issues are filed recently.

Number of features can be reduced by applying PCA before training a model. But such a reduction may ea

[2022-02-04 17:35] calebj15 opened #303 "Quantum Kernel Trainer documentation does not populate in web API"
### Environment

N/A

### What is happening?

Quantum Kernel Trainer documentation is absent from web API

### How can we reproduce the issue?

N/A

### What should happen?

.rst file should be added to qiskit-machine-learning/docs/apidocs

### Any suggestions?

_No response_

[2022-02-04 18:20] sri1905 commented on #251
Okay, I shall try it anyway.

Yes, I have been experimenting with various dimentionality reduction techniques. I will look into `RawFeatureVector`, thank you.

Thank you very much !

[2022-02-09 21:39] #303 closed

[2022-02-10 02:56] ktasha45 opened #310 "Error training on GPU backends using Torch Connector"
### Environment

- **Qiskit Machine Learning version**: 0.3.0
- **Python version**: 3.9.7
- **Operating system**: Windows 10

### What is happening?

Torch connector seems to expect all the data to be in the CPU and fails when its run on a GPU. Using the qiskit-aer-gpu backends does not change the outcome. Since the function is in the library, we cannot control its output

[code]

### How can we r

[2022-02-11 11:31] #242 closed

[2022-02-12 00:07] #296 closed

[2022-02-16 08:21] ElePT opened #318 "Implement Effective Dimension Algorithm"
### What should we add?

The goal of this issue is to document/keep track of the project of creating a Runtime program for QNN Effective Dimension calculations.

### What do we have?
The explanation of the effective dimension algorithm and its relevance can be found in the following [research paper](https://arxiv.org/pdf/2011.00027.pdf). And the code to reproduce the original experiments has been

[2022-02-16 12:53] #107 closed

[2022-02-16 12:54] adekusar-drl commented on #107
I closed this issue, I hope everything is done as discussed. Feel free to re-open if required.

[2022-02-16 23:07] adekusar-drl commented on #275
I'm closing the issue since we are deprecating scikit learn datasets in #319.

[2022-02-16 23:07] #275 closed

[2022-02-17 19:32] declanmillar opened #320 "Allow categorical encoding in VQC"
### What is the expected enhancement?

Currently, VQC only accepts one-hot encoded input. It might be beneficial to accept categorical labels (and perhaps features) to limit friction for new adopters used to scikit-learn—ideally, they could just replace their classical code with the quantum equivalent without explicitly performing the encoding themselves. The only downside is this does contribute

[2022-02-17 20:28] #297 closed

[2022-02-17 22:19] declanmillar opened #322 "Warn when fitting new data with a different number of classes"
### What is the expected enhancement?

One can train VQC in batches using the warm_start=True flag. If one then provides data with a different number of total classes, the code will process the data using the initial_point reached in the previous batch without complaint.

While certainly not critical, it might be friendly to warn the user that the data they are providing probably invalidates the p

[2022-02-17 22:36] declanmillar opened #323 "VQC input validation"
### What is the expected enhancement?

Multi-label classification is not supported by VQC; however, the code will not raise an error when it is provided. It might be beneficial to users to raise an error in such cases, either due to unclean data or due to them mistakenly thinking that multi-label input will be comprehended by the model.

[2022-02-17 22:45] declanmillar opened #325 "Simplify VQC unit tests"
### What is the expected enhancement?

Currently, the VQC unit tests use the DDT library to pass a combination of strings to tests in order to check execution with a range of optimizers and quantum instances. Rather than using string tags, it is possible to pass this data directly, which may minimize and, perhaps, clarify the necessary code for tests.

[2022-02-17 23:31] adekusar-drl commented on #322
Can you please explain the issue better or give an example?

[2022-02-18 00:39] declanmillar commented on #322
Yes, sorry. So, in the example below, the two problems have a different number of target classes. I may be wrong, but I think these problems are incompatible as this is not an online ML algorithm. I don't think this is very important, as users are unlikely to try to fit unrelated datasets in batches to the same model, but we could warn users that these batches are effectively incompatible.

I'm ha

[2022-02-18 10:34] adekusar-drl commented on #322
Thanks, makes sense to raise a warning in this case.

[2022-02-18 11:54] adekusar-drl opened #326 "Introduce an API for saving/loading ML models"
### What should we add?

Currently there's no native support for saving and loading trained QNN based models. Users can only rely on standard python packages like `pickle` for such tasks and other hacks like saving the `_fit_result` property. Similar questions about saving and loading models were asked a few times on the public Slack workspace. This issue is to tackle this problem. While the probl

[2022-02-18 12:04] adekusar-drl opened #327 "Review implementation of the loss and objective functions"
### What is the expected enhancement?

Review implementation of the loss and objective functions and verify their correctness. At least, objective values are not scaled as `1/N` and this causes questions why loss/objective values are large.

[2022-02-18 12:20] adekusar-drl opened #328 "VQC does not support csr_matrix (sparse representation) as labels"
### Environment

- **Qiskit Machine Learning version**: Latest sources
- **Python version**: All
- **Operating system**: All

### What is happening?

When labels are encoded as a sparse matrix `VQC` raises an exception:

[code]

### How can we reproduce the issue?

Run a script:
[code]
If `encoder` is initialized as `encoder = OneHotEncoder(sparse=False)` the code works well.

### What should happ

[2022-02-18 12:49] adekusar-drl opened #329 "Add explicit parameter value/type correctness checks"
### What is the expected enhancement?

Currently algorithm parameters are either not checked for correctness or checked in a few places. Despite we have type hints, users may supply whatever they want values, e.g. `None` where it is not supported. For instance, if a user passes `None` as a lost function an exception like `'NoneType' object has no attribute 'lower'` is raised.

This enhancement req

[2022-02-18 13:57] adekusar-drl opened #330 "Deprecate and move ad_hoc dataset to another place"
### What is the expected enhancement?

While most of the datasets have been deprecated in #319 the `ad_hoc` dataset is available in the module. This dataset is used in a few places and this issue is created to consider deprecation of this dataset as well. Perhaps, it should be kept somewhere else.

The places where `ad_hoc` is used so far:

- [ ] The readme note in the repo.
- [ ] `QuantumKernel`

[2022-02-18 17:46] woodsp-ibm commented on #329
If I read the text above correctly you are talking about both values and type - the title has 'parameter value' and if the intent is to span both then maybe drop 'value' from it.

In regards of the attribute error example, you will also get the same at runtime if you pass in some other valid non-None object that does not have an attribute lower. Of course it maybe another type instance you created

[2022-02-18 17:47] woodsp-ibm commented on #329
My bad, somehow I hit the close button accidentally! Where is that UI runtime checking when I needed it!

[2022-02-21 16:01] andrenmelo commented on #330
FYI I'm planning to rewrite `ad_hoc` and also and generalize to several qubits for my own research. Happy to help port it somewhere else too.

[2022-02-21 16:53] adekusar-drl commented on #325
Perhaps, not only `VQC` tests, but other unit tests as well :)

[2022-02-21 16:56] adekusar-drl commented on #330
While `ad_hoc` is still here, you can open PRs with updates. It will take some time to decide how to proceed since the dataset is in use.

[2022-02-22 08:01] AndrewCesc commented on #310
I can reproduce the issue too. Currently, it keeps processing data on the cpu rather than gpu, making it impossible to accelerate training by using gpu devices.

[2022-02-23 09:42] #149 closed

[2022-02-25 13:18] prakharb10 commented on #326
Hello @adekusar-drl
After a cursory reading of the `pickle` module, I feel that implementing the `__getstate__()` and `__setstate__()` methods properly should be sufficient to load and save models.
The NeuralNetwork base class or other base classes may introduce an additional `save` method which will allow us to use methods exposed by `pickle` and provide a way to save all models extending from th

[2022-02-28 09:52] adekusar-drl commented on #326
Thanks for looking into this. In general, may be `pickle` works out of box and double underscore methods are not required, I don't know. More important is that when a model is loaded it has to has a quantum instance. When and how this should be done is a open question. May be introducing a method like `load(file_name, quantum_instance)` is a good choice.

[2022-02-28 12:31] adekusar-drl opened #336 "Exception while evaluating QuantumKernel on a QASM simulator when duplicate entries in the dataset"
### Environment

- **Qiskit Machine Learning version**: latest sources
- **Python version**: all
- **Operating system**: all

### What is happening?

Exception is raised when a quantum kernel is evaluated for a dataset with duplicate entries on a qasm simulator:
[code]

### How can we reproduce the issue?

Run the script:

[code]

If you replace `qasm_simulator` with `statevector_simulator` no exc

[2022-03-02 16:28] adekusar-drl commented on #310
@ktasha45 These lines are wrong:
[code]
If you want to make use of GPU support in Qiskit Aer you have to write:
[code]
Take a look here: https://qiskit.org/documentation/tutorials/simulators/1_aer_provider.html#GPU-Simulation

The issue is fixed in #335, hope the PR will be merged soon.

[2022-03-02 21:00] #310 closed

[2022-03-09 13:19] ElePT opened #340 "Add Effective Dimension Class"
### What should we add?

The goal of this issue is to track the development of the effective dimension class, as described in epic #318. The latest version of this class can be found in my personal fork: https://github.com/ElePT/qiskit-machine-learning/tree/eff-dim, in `qiskit_machine_learnig/algorithms/effective_dimension.py
`

[2022-03-09 13:23] ElePT opened #341 "Add Effective Dimension Runtime Client"
### What should we add?

The goal of this issue is to track the development of the client for the effective dimension runtime program (also under development), as described in epic https://github.com/Qiskit/qiskit-machine-learning/issues/318. The latest progress on this issue can be found in my personal fork:  https://github.com/ElePT/qiskit-machine-learning/tree/eff-dim, under `qiskit_machine_lea

[2022-03-09 13:26] ElePT opened #342 "Add Effective Dimension Tutorial"
### What should we add?

The goal of this issue is to track the development of a tutorial for the effective dimension class and runtime program, as described in epic https://github.com/Qiskit/qiskit-machine-learning/issues/318.

[2022-03-09 15:24] woodsp-ibm commented on #341
Although the title is given as `Effective Dimension Runtime Program` this will just add the Client here right - the server side Program being elsewhere.

[2022-03-10 08:28] charmerDark opened #344 "Possible issue in pegasos classifer: Not training for data dimension besides 2"
### Environment

- **Qiskit Machine Learning version**: 0.3.1
- **Python version**: 3.7.12
- **Operating system**: Ubuntu 18.04

### What is happening?

The `PegasosQSVC` method seems to have issues taking in data of any format except (num_samples, 2). The fit method throws errors when using any other feature size. However the documentation mentions the arguments for `pegaus_qsvc.fit` being `(num_

[2022-03-10 12:57] adekusar-drl commented on #344
@gentinettagian Can you please take a look?

[2022-03-10 19:19] #344 closed

[2022-03-21 14:25] adekusar-drl opened #350 "Remove the deprecated `weights` property in favor of `weight` in TorchConnector"
### What is the expected enhancement?

The property `weights` in `TorchConnector` was deprecated in QML 0.2.0, now it is time to remove it. The `weight` property should be used instead.

[2022-03-21 21:05] #350 closed

[2022-04-01 12:49] manoelmarques commented on #329
Python follows the EAFP principle: https://www.geeksforgeeks.org/eafp-principle-in-python/
Basically, if a parameter is passed incorrectly, throws an exception from the function itself or the runtime. If a function can recover or if more description is needed, then it is ok to validate before hand.
Checking every argument for every function before usage is irregular usage of python but I will leav

[2022-04-06 19:02] woodsp-ibm opened #367 "Enhance optimizer support as per recent VQE/QAOA change"
### What is the expected enhancement?

Recently VQE and QAOA were enhanced to have more flexibility around provisioning of an optimizer see Qiskit/qiskit-terra#7191. It might be nice that ML had equivalent capability. I will note the the interface typing of the callable is the subject of a current improvement PR but the function as such remains the same Qiskit/qiskit-terra#7846

[2022-04-07 09:42] adekusar-drl commented on #367
Interesting and a good addition. What I don't understand is why callable support was added on a VQE/QAOA level only. So, if I want to re-use the definitions, e.g., `MINIMIZER` or `Minimizer` introduced in these two PRs, I have to import them from `VQE` and introduce a dependency on the VQE implementation. I'd prefer to see these definitions next to optimizers.

[2022-04-07 15:48] woodsp-ibm commented on #367
It was probably added there since this is the only place that consumes optimizers. It seems very reasonable to me though to have the Minimizer be defined in optimizers. I'll comment in the latter PR referenced above.

[2022-04-08 13:31] bopardikarsoham opened #371 "Hardcoded test size in breast cancer and digits dataset"
### Environment

-

### What is happening?

test_size being hardcoded to 0.3 in [#Line36](https://github.com/Qiskit/qiskit-machine-learning/blob/main/qiskit_machine_learning/datasets/breast_cancer.py#L36) is not giving the user the flexibility to set the desirable train-test-split ratio.

### How can we reproduce the issue?

The variable `test_size` is already present as an input in the function's

[2022-04-08 13:38] adekusar-drl commented on #371
The datasets are deprecated and will be removed in the release after the upcoming `0.4` release.

The `test_size` variable is used to subset test data here: https://github.com/Qiskit/qiskit-machine-learning/blob/main/qiskit_machine_learning/datasets/breast_cancer.py#L61

[2022-04-11 19:48] adekusar-drl opened #375 "Remove legacy providers interface"
### What is the expected enhancement?

Remove the legacy providers interface, especially `BaseBackend` that is referenced in `QuantumInstance` type hints.
See https://github.com/Qiskit/qiskit-terra/pull/7886 for more details.

[2022-04-12 08:37] #326 closed

[2022-04-12 09:56] #327 closed

[2022-04-13 12:47] adekusar-drl opened #378 "Implement QNNs on the Qiskit primitives"
### What should we add?

In the Terra release 0.20 new core components were introduced: Qiskit primitives, https://qiskit.org/documentation/apidoc/primitives.html. This epic is intended to group the tasks to implement new Qiskit Machine Learning algorithms based on the primitives:

- [x] Explore the primitives and prepare a new design of the primitives-based QNNs
- [x] Implement SamplerQNN
- [x] I

[2022-04-13 12:50] adekusar-drl opened #379 "Add/verify support for saving/loading hybrid pytorch models"
### What is the expected enhancement?

Verify (or add) an ability of saving/loading hybrid PyTorch models with quantum layers to a file for further re-use and inference.

[2022-04-15 21:09] adekusar-drl commented on #379
Closed in #377

[2022-04-15 21:09] #379 closed

[2022-04-20 12:57] #375 closed

[2022-04-21 10:17] dnnagy opened #381 "torch.jit.script is not working with hybrid models"
### Environment

- **Qiskit Machine Learning version**: 0.3.1
- **Qiskit version**: 0.36.0
- **Python version**:  3.9.10
- **pytorch version**: 1.11.0
- **Operating system**: Ubuntu x86_64

### What is happening?

Can not convert a Hybrid QNN into a TorchScript Module.

### How can we reproduce the issue?

When training and testing ML models in pytorch, it is often useful to [save](https://pytorch

[2022-04-21 14:16] toncho11 opened #382 "QSVM Feature map"
Hi,

I have question about QSVM. I did not know where to post it. Please be so kind to have a look at my question before closing it.

QSVM is using the QunatumKernel class which is using a Quantum Feature Map (implemented as a Quantum circuit).
So what really happens is that Feature Space (the higher dimensional space) is indeed constructed and used to transform the training data to a linearly sep

[2022-04-21 20:00] #340 closed

[2022-04-22 12:23] ebermot opened #383 "Gradient Descent in qGAN optimisation"
### Environment

- **Qiskit Machine Learning version**: 0.3.1
- **Python version**: 3.8.10
- **Operating system**: macOS-12.2.1-x86_64-i386-64bit

### What is happening?

I'm trying to run an optimisation of the qGAN model. However, when I try to change the generator optimizer from ADAM to GradientDescent, I get an error during the qgan.run(quantum_instance) : "`[Expression cannot bind non-numeric

[2022-04-22 13:00] adekusar-drl opened #385 "Provide access to the trained weights in QNN models"
### What is the expected enhancement?

Right now, if a user wants to get access to the trained weights, they must directly access a private field of the model, like here:
[code]
While it is still possible in python, it is not documented and breaks the model contract. Also, since a QNN for the model is provided by the user, I think, it is a good idea to have public access to the trained weights and

[2022-04-22 13:09] adekusar-drl commented on #382
@toncho11 If I understand your question correctly, you described exactly the classical kernel trick. This is what is implemented in `QuantumKernel`, you have just another kernel function that is evaluated on a quantum computer. In this is case your classical data is mapped to Hilbert space and an overlap between two vectors is evaluated.

[2022-04-22 14:35] toncho11 commented on #382
Here is the confusion:

It seems "Feature Map" is broadly used term.

* "Feature Mapping" is mapping to a higher dimensional space where we can separate the data.
* "Quantum Feature Mapping" is
  - encoding of classical data to quantum states
  - mapping to Hilbert space

So is it the same ?

From the [documentation](https://qiskit.org/documentation/stubs/qiskit.circuit.library.ZZFeatureMap.html)

[2022-04-22 18:49] adekusar-drl commented on #382
Yes, that's right, but even in a higher dimensional space data separation is not guaranteed.

[2022-04-23 10:36] toncho11 commented on #382
Thanks. So it is the same as in SVM, but with added Quantum circuit mapping.

[2022-04-23 16:58] adekusar-drl commented on #382
Yes, for instance, `QSVC` is a wrapper of the classical SVC, can be initialized with a `QuantumKernel` and the latter is a quantum kernel function.

[2022-04-24 08:17] toncho11 commented on #382
Actually I am preparing a presentation on the topic and that is why I want to be sure how it works.

And the QSVC in emulation mode uses a normal kernel from ScikiLearn, right?
Because that will be much faster compared to emulating a Quantum kernel on a conventional laptop?

[2022-04-24 17:14] adekusar-drl commented on #382
`QSVC` takes an instance of `QuantumKernel` as a kernel function and then fits a model using this kernel function. `QuantumKernel` can be executed either on a simulator or on a real hardware. You can ping me in the public [Qiskit Slack](https://qiskit.slack.com/?redir=%2Fmessages%2FC7SN3T90V) if you want to chat more.

[2022-04-26 16:50] Abdualazem opened #387 "A problem with PegasosQSVC function when using decision_function function"
### Environment

- **Qiskit Machine Learning version**: 0.4.0
- **Python version**: 3.7.1
- **Operating system**: Ubuntu 20.04

### What is happening?

Using the PegasosQSVC example [here](https://qiskit.org/documentation/machine-learning/tutorials/07_pegasos_qsvc.html), and calculating the score using decision_function, I got the following error:

`AttributeError: 'PegasosQSVC' object has no attr

[2022-04-26 19:42] woodsp-ibm commented on #387
The `decision_function` is part of the base SVC code in sklearn. The PegasosQSVC here extends that and overrides some methods like 'fit' but has no implementation of that so it ends up using that of the sklearn code. Now looking at the sklearn SVC fit it sets up this _sparse member when its fit is called. Since that code is not exercised the decision function code ends up failing.

In searching it

[2022-04-27 06:59] Abdualazem commented on #387
In my case, the ``predict()`` function works fine the problem comes when using ``decision_function()``. Unlike the old issue you shared, the error occurs even though the data is fitted in advance.

[2022-04-27 12:59] #342 closed

[2022-04-27 19:14] woodsp-ibm commented on #387
'predict' is overriden in the PegasosQSVC whereas `decision_function` is still using the method of the base SVC in sklearn. The data is fitted according to PegasosSVC but the base class fit is not called, hence whatever it does/needs in the base class to support other methods of the base class being called successfully later, like setting this _spare member does not get done. Hence the base class

[2022-04-28 01:30] Abdualazem commented on #387
Well explained; thanks a lot, @woodsp-ibm. Is there a workaround for this? I'm just avoiding `QSVC`, which works fine, but lacks hyperparameters for tuning like the `PegasosQSVC`.

[2022-04-28 13:03] adekusar-drl commented on #387
My two cents here. `PegasosQSVC` has its own fit implementation. That's why `PegasosQSVC` may not support full functionality of `SVC`. Currently, there's no a quick fix for this problem.

On the other hand `QSVC` just wraps `SVC` from SciKit-Learn and expose an additional parameter `quantum_kernel` as a kernel function. So, in terms of hyperparameterization `QSVC` has more options and all `kwargs`

[2022-04-28 13:05] adekusar-drl commented on #382
@toncho11 is there anything left here? May I close the issue?

[2022-04-29 04:48] Abdualazem commented on #387
Thanks a lot, @adekusar-drl, for the snippet. I'll fall back to `QSVC` instead of the `PegasosQSVC` for now.

[2022-05-01 14:59] toncho11 commented on #382
Hi,

Almost.
I could not log into Qiskit Slack? Do I need some invitation or authorization?

[2022-05-01 15:03] adekusar-drl commented on #382
I think you need to create a Slack account or log in using Google/Apple, there are invitations, this is public, as far as I know.

[2022-05-01 19:13] toncho11 commented on #382
I tried 100 times and ... it does not work without an invitation.
Please send me an invitation on my github user and @gmail.com

[2022-05-01 22:06] adekusar-drl commented on #382
I tried to add you to the workspace, but as far I know, there are no specific requirements to join.

[2022-05-02 05:27] toncho11 commented on #382
Thanks! Finally it worked.

[2022-05-02 05:27] #382 closed

[2022-05-02 09:13] gentinettagian commented on #387
Thanks @adekusar-drl for tagging me. I think we should question whether`PegasosQSVC` should really inherit from `SVC`. The class is quite large and the main methods (`fit` and `predict`) are overridden and handled quite differently in `PegasosQSVC`. If we do inherit from `SVC` we should make sure that every method works, or at least raises a `NotImplementedError`. In any case, a `decision_function

[2022-05-02 11:22] ElePT opened #392 "`QGAN` unit tests re-use same instance for backend checks"
### Environment

- **Qiskit Machine Learning version**: 0.4.0
- **Python version**: 3.10.0
- **Operating system**: macOS Monterrey (12.2.1)

### What is happening?

Most of the `QGAN` unit tests are supposed to check that the resulting relative entropies with `qasm_simulator` and `statevector` backends match, but instead of creating 2 separate instances of the `QGAN` class, what is done in [test_q

[2022-05-02 11:23] ElePT commented on #392
This issue has already been discussed with @Zoufalc and @ebermot, and is connected to

[2022-05-02 11:34] ElePT opened #393 "`QGAN` generator training issue with `qasm_simulator` backend"
### Environment

- **Qiskit Machine Learning version**: 0.4.0
- **Python version**: 3.10.0
- **Operating system**: macOS Monterrey (12.2.1)

### What is happening?

When running the qGAN tutorial code with `backend=qasm_simulator` and fixed seeds (simulator/transpiler), the generator parameters do not change between iterations, nor does the relative entropy (as seen in the plot), and the final dis

[2022-05-02 11:53] ElePT opened #394 "Unable to set custom gradient method in `QGAN` generator"
### Environment

- **Qiskit Machine Learning version**: 0.4.0
- **Python version**: 3.10.0
- **Operating system**: macOS Monterrey (12.2.1)

### What is happening?

When specifying a custom gradient in the QGAN generator, a `ValueError` gets raised during training.

### How can we reproduce the issue?

On [04_qgans_for_loading_random_distributions.ipynb](https://github.com/Qiskit/qiskit-machine-le

[2022-05-02 11:54] ElePT commented on #394
@Zoufalc, @ebergamot, you might want to take a look into this too.

[2022-05-02 13:36] ElePT commented on #393
@Zoufalc, @ebermot. If the plan is to fully deprecate this class towards a PyTorch implementation, maybe this issue should just be kept in mind to make sure it does not happen again with the new implementation, and not really spend too long on it (but still interesting).

[2022-05-02 14:05] adekusar-drl commented on #387
@gentinettagian I agree. Perhaps we should revise inheritance considering your work.

[2022-05-02 16:23] ebermot commented on #394
Hi @ElePT, I'm currently working on it and I'd like to be assigned to this issue.

[2022-05-02 20:04] ebermot commented on #393
Hi @ElePT , I'm currently working on it and I'd like to be assigned to this issue.

[2022-05-04 11:28] #318 closed

[2022-05-04 11:30] #215 closed

[2022-05-05 15:27] woodsp-ibm commented on #392
A comment here. With algorithms they are supposed to be able to be re-used; e.g call the run() multiple times and it should behave as if the parameters were set just the same way on a brand new instance. I.e. run() should not depend on any prior state. As such running with a different quantum instance is legitimate in my mind. It it somehow passes due to saved state then it would be bad though so

[2022-05-10 21:12] #387 closed

[2022-05-11 08:24] Red2Je opened #399 "Opflow error on GradientDescent"
### Environment

- **Qiskit-machine-learning** : 0.4.0
- **Qiskit Terra version**: 0.20.0
- **Python version**: 3.9.7
- **Operating system**: Windows 10 entreprise 21H2 (19044.1645)

### What is happening?

Calling VQC with a GradientDescent optimizer throws the following error : `OpflowError: 'Circuits are empty. Check that the operator is an instance of CircuitStateFn or its ListOp.'`. This erro

[2022-05-11 09:20] Red2Je commented on #399
I ran this code to determine if other optimizers were impacted :
[code]
And the result are :
[code]

[2022-05-11 09:21] Red2Je commented on #399
I ran this code to determine if other optimizers were impacted by this error :
[code]
and the results are :
[code]

[2022-05-13 14:39] adekusar-drl commented on #371
I close the issue since these datasets will be removed soon.

[2022-05-13 14:39] #371 closed

[2022-05-13 14:57] #381 closed

[2022-05-14 20:31] RicardoMonteiroSimoes commented on #254
I'm going to take the freedom of posting another comment here. Currently, I'm writing my thesis and I've used the ML Components here to train a simple circuit to solve a given Problem. Now, the accuracy it achieves is terrible using the parity function (~0.35 mean). This is largely because I cannot filter the measurements. For example, `0000` for me is an invalid result, so in my non-ML approach I

[2022-05-18 10:48] adekusar-drl opened #400 "Implement a QNN based on the Sampler primitive"
### What should we add?

Terra has implemented new ways to run circuits that may potentially speed up QNN training in the cloud. In this issue we implement a new type of QNN, a `SamplerQNN` that will be based on the `Sampler` primitive.

The implementation should be given an instance of the Sampler instead of a quantum circuit and should re-use the sampler for every evaluation of the circuit.

The

[2022-05-18 10:53] adekusar-drl opened #401 "Implement a QNN based on the Estimator primitive"
### What should we add?

Terra has implemented new ways to run circuits that may potentially speed up QNN training in the cloud. In this issue we implement a new type of QNN, an `EstimatorQNN` that will be based on the `Estimator` primitive.

The implementation should be given an instance of the Sampler instead of a quantum circuit and should re-use the sampler for every evaluation of the circuit.

[2022-05-18 11:01] adekusar-drl opened #402 "Write a new tutorial or update the existing tutorials to cover new primitives-based QNNs"
### What should we add?

In this issue we aim to write a new tutorial (preferable) or update the existing ones to cover new primitives-based quantum neural networks: `SamplerQNN` and `EstimatorQNN`. The tutorial should show how to use the reference implementation of primitives in Terra and those from `qiskit_ibm_runtime` that are cloud based.

[2022-05-19 22:19] #322 closed

[2022-05-19 22:19] #323 closed

[2022-05-19 22:19] #325 closed

[2022-05-26 13:17] #385 closed

[2022-06-02 07:54] adekusar-drl commented on #393
Closed in #405

[2022-06-02 07:54] #393 closed

[2022-06-02 07:55] adekusar-drl commented on #394
Closed in #405

[2022-06-02 07:55] #394 closed

[2022-06-07 19:10] Gopal-Dahale opened #408 "Quantum CNN"
### What should we add?

I wanted to contribute a new tutorial on Quantum CNN using Pytorch Lightning. I am following [this ](https://www.tensorflow.org/quantum/tutorials/qcnn) approach using jupyter notebooks.

The implementation uses `sklearn` `'blobs` dataset to perform binary classification of 2-dimensional data points. It features Quantum convolution and pooling layers. Shall I create a pull

[2022-06-09 10:29] y4izus opened #582 "Tutorial review: some suggestions for improvements"
According to @Guillermo-Mijares-Vilarino, these are the tasks included in this issue:

- [x] Add notes and comments to the tutorials.
  - [x] Quantum Neural Networks
  - [x] Neural Network Classifier & Regressor
  - [x] Quantum Kernel Machine Learning
  - [x] qGANs for Loading Random Distributions
  - [x] Torch Connector and Hybrid QNNs
  - [x] Torch Runtime
  - [x] Pegasos Quantum Support Vector

[2022-06-13 11:50] HuangJunye opened #413 "Missing instructions for building documentation locally"
### What is the expected enhancement?

We should add instructions for building documentation locally for contributors who want to contribute on (non jupyter notebook) documentation such as doc string and .rst files.

[2022-06-13 11:55] HuangJunye commented on #413
Something like that with more explanations

[code]

[2022-06-13 12:03] adekusar-drl commented on #413
@HuangJunye what about a command like `make html`? It builds the documentation.

[2022-06-13 14:17] HuangJunye commented on #413
Nice. I didn't know the doc building is added to the Makerfile: https://github.com/Qiskit/qiskit-machine-learning/blob/3e1ed39e3f4d9b650db181866b6d12865a496613/Makefile#L69-L70

But I assume the dependency installation will still be needed.

[2022-06-13 14:34] HuangJunye commented on #413
I think pandoc is also needed which is not a python dependency and therefore cannot be pip installed.

I also didn't look at the https://github.com/Qiskit/qiskit-machine-learning/blob/main/CONTRIBUTING.md#pull-request-checklist which did mention documentation.

I think we should add pandoc installation to this step and then it should be good. But I haven't verified myself that pandco installation

[2022-06-13 14:35] HuangJunye commented on #413
@Guillermo-Mijares-Vilarino is our new intern for the documentation. Guillermo, can you try to follow the steps on https://github.com/Qiskit/qiskit-machine-learning/blob/main/CONTRIBUTING.md to do a local build to check if there is any missing steps (for example installing `pandoc`)? Thank you!

[2022-06-13 14:38] adekusar-drl commented on #413
Surely, such a check is really appreciated!

[2022-06-13 16:12] Guillermo-Mijares-Vilarino commented on #413
I could do the local build writing `make html` when on the docs folder of the qiskit-machine-learning (cloned) repo as the contributing guideline https://github.com/Qiskit/qiskit-machine-learning/blob/main/CONTRIBUTING.md indicated and it worked just fine.

However I had already installed `pandoc` so I tried removing it and redoing the local build. This time I got the following error:

[code]

So

[2022-06-15 22:09] #320 closed

[2022-06-16 12:58] 1ucian0 opened #415 "qiskit-machine-learning documentation: overview page"
The current "landing page" for qiskit-machine-learning (https://qiskit.org/documentation/machine-learning/) is a TOC that does not include any overview about the package.

<img width="1083" alt="Screenshot 2022-06-16 at 14 59 26" src="https://user-images.githubusercontent.com/766693/174076878-2a837839-7049-4ed5-b06d-07d2a88849f1.png">

Compare it with [qiskit-ibm-runtime](https://qiskit.org/docume

[2022-06-17 11:46] manoelmarques commented on #413
Yes, `pandoc` is needed but is not a python library, in is native. In the MacOS you install with "brew install pandoc".

[2022-06-17 12:42] adekusar-drl commented on #413
@manoelmarques Thanks for the clarification. Is it stated somewhere in the documentation that if I want to build documentation manually I have to have `pandoc` installed? I don't think so, at least I have not found `pandoc` in this repo except in the CI stuff. I guess, this is the main point of this issue.

[2022-06-17 20:38] #413 closed

[2022-06-20 09:13] HuangJunye commented on #413
@manoelmarques @adekusar-drl Thanks for working on the issue!

[2022-06-21 04:58] #415 closed

[2022-06-24 12:07] freddyrapp opened #425 "Quantum kernel - missing indices in regression tasks"
### Environment

- **Qiskit Machine Learning version**:  0.4.0
- **Python version**:  3.9.7 64-bit
- **Operating system**:  Windows 10 Enterprise Version 21H2

### What is happening?

The bug arises in the Qiskit QuantumKernel class (more precisely in the evaluation routine) when performing a regression task with the quantum kernel (SVR,...) and **not** using the statevector simulator.
It just hap

[2022-06-27 11:46] adekusar-drl commented on #425
Thanks for reporting this problem, this is the problem as in #336.

[2022-06-29 10:57] adekusar-drl commented on #329
Close as won't fix.

[2022-06-29 10:57] #329 closed

[2022-06-29 10:59] adekusar-drl commented on #292
Potentially can be implemented in #408.

[2022-06-29 10:59] adekusar-drl commented on #293
Potentially can be implemented in #408.

[2022-06-29 11:04] dlasecki commented on #408
Hi, we already have code written with Qiskit for generating quantum circuits for the exact same tutorial referenced. But it is not published anywhere. Let think what's the best way to proceed.

[2022-06-29 11:09] adekusar-drl commented on #408
@dlasecki I'd love see some progress on this topic, I don't have time to work on this on my own or in a collaboration with anybody.

[2022-06-29 11:20] Gopal-Dahale commented on #408
@dlasecki I tried to follow the code of the referenced tutorial in qiskit and used TorchConnector to train it, but the model does not seem to converge and it takes a lot of time to finish even a single epoch. Using GPU is not beneficial as the number of samples are less (~100) and even when I used GPU the per cent utilization was negligible.

In the torch connector [tutorial](https://qiskit.org/do

[2022-06-29 11:23] adekusar-drl commented on #408
@Gopal-Dahale may we help somehow?

[2022-06-29 11:33] dlasecki commented on #408
Hi, if your code is in a good shape for us to follow, you might open a *draft* PR and we might have a look. Perhaps some things could be optimized or improved.

[2022-07-07 12:51] adekusar-drl opened #434 "Improve QSVR unit tests"
### What is the expected enhancement?

Currently unit test in [TestQSVR](https://github.com/Qiskit/qiskit-machine-learning/blob/main/test/algorithms/regressors/test_qsvr.py) are based on the classification dataset, e.g., labels are `[0, 0, 1, 1]`. Such a dataset is not very well suited to test regressors. This issue intends to fix this problem and implement unit tests on a more suitable dataset.

[2022-07-14 17:07] andb0t commented on #326
Hi there,
I just hit a wall with exactly this problem. After successfully training my model, I'd like to pickle it to ship it to a server and run it there. Here's what I do:
[code]
and this is the error I get:
[code]
This answers the question at least if it currently works: it doesn't. Do you think simply replacing lambda functions by named functions, e.g. this one:
[code]
would help?

[2022-07-14 22:15] adekusar-drl commented on #326
No, I don't think so. Opflow objects are not pickleable. Replace `pickle` with `dill`. We use `dill` in this new API to save/load models.

[2022-07-19 17:53] woodsp-ibm opened #441 "SVCLoss documentation has formatting issues"
### Environment

- **Qiskit Machine Learning version**: Docs
- **Python version**: None
- **Operating system**: None

### What is happening?

SVCLoss has formatting issues see [here](https://qiskit.org/documentation/machine-learning/stubs/qiskit_machine_learning.utils.loss_functions.SVCLoss.html#qiskit_machine_learning.utils.loss_functions.SVCLoss).

![image](https://user-images.githubusercontent.

[2022-07-21 08:27] #441 closed

[2022-07-25 11:51] sergiomtzlosa opened #445 "PegasosQSVC seed needed to work"
### Environment

- **Qiskit Machine Learning version**: 0.4.0
- **Python version**: 3.7
- **Operating system**: Windows 10

### What is happening?

PegasosQSVC needs seed argument to create the object. If the seed property is not set, the fit function throws an exception.
The constructor does not have seed property input parameter, the user must set the seed value after the object creation.

I hav

[2022-07-26 20:44] pranavkubc commented on #336
Hi,
I was running into a similar issue with statevector simulator. I resolved it by changing the "max_job_retries" attribute in QuantumInstance.

`quantum_instance = QuantumInstance(backend, shots = 1024, backend_options=backend_options,max_job_retries=-1)`

you can change the number to any positive integer that you want. Default is 50. You can change into -1 if you want infinte max_job_retries

[2022-07-27 09:40] sergiomtzlosa commented on #445
Thank you for your answer, I think then I will close the issue. You are right I was executing the code on a jupyter notebook.

Regards

[2022-07-27 09:40] #445 closed

[2022-07-31 17:09] #425 closed

[2022-08-01 19:59] moustafa7zada commented on #101
@adekusar-drl
sorry for bothering ... but the `COBYLA` optimizer still shows the same warnning for me(Cannot compute gradient operator! Continuing without gradients)
any idea how this may be fixed ?
note: i have the latest version of qisktit

[2022-08-01 22:25] adekusar-drl commented on #101
@moustafa7zada In general, it is just a warning, not an error. That means, the code with this warning may still work correctly. Even if you use `COBYLA` you may see this warning. Since `COBYLA` is a gradient free optimizer, it does not require gradient evaluation, hence gradient is not required. Without seeing the code I can't say more about this issue.

[2022-08-01 22:46] moustafa7zada commented on #101
@adekusar-drl
thanks a lot for your help :) ..the code looks like this
 `num_qubits = 2
depth = 4
theta = ParameterVector('\u03B8', length=num_qubits)  # creating a list of Parameters
custom_circ = QuantumCircuit(num_qubits)

for _ in range(depth) :
    for i in range(num_qubits):
        custom_circ.rx(theta[i], i)

    for j in range(num_qubits):
        for k in range(j) :
            custom_ci

[2022-08-01 22:56] adekusar-drl commented on #101
@moustafa7zada the reason is `RawFeatureVector`. The model can be trained using gradient free optimizers.

[2022-08-01 23:04] moustafa7zada commented on #101
@adekusar-drl Okay i will go with `COBYLA`... thank you for your time.
just one last question . is `COBYLA` the only gradient free optimizer in qiskit?

[2022-08-02 08:43] adekusar-drl commented on #101
Explore the package https://qiskit.org/documentation/stubs/qiskit.algorithms.optimizers.html
For instance, `SPSA` is also gradient free. It estimates gradient without direct invocations of the gradient framework. If it is unclear from the documentation, you may query `gradient_support_level`:
[code]

[2022-08-05 09:42] DPeddireddy opened #446 "VQC works with COBYLA but not ADAM"
### Environment

- **Qiskit Machine Learning version**: 0.4.0
- **Python version**: 3.7.13
- **Operating system**:  Executed on Google Colab

### What is happening?

I've tried to implement a classification problem on Iris dataset using the VQC function which works perfectly well when I set the optimizer to COBYLA but when I change it to ADAM keeping everything else the same, the program doesn't d

[2022-08-05 15:05] adekusar-drl commented on #446
The script works, but unfortunately slow. The problem is that ADAM is a gradient based optimizer, while COBYLA is gradient free. That means, ADAM estimates gradient with respect to ansatz parameters. For each sample in the dataset, for each parameter there are two additional circuits are executed. In your case it is 120 * 24 * 2 = 5760 circuits. And the gradient is estimated on each iteration. COB

[2022-08-06 06:26] DPeddireddy commented on #446
That makes sense, thank you. If the gradients are being computed using the parameter shift rule, the runtime could probably be improved by computing the gradients parallelly.

[2022-08-06 06:26] #446 closed

[2022-08-07 12:00] gcattan opened #447 "PegasosQSVC predicted labels inverted on simple test"
### Environment

- **Qiskit Machine Learning version**: 0.4.0
- **Python version**:  3.7, 3.8
- **Operating system**: ubuntu/windows/mac os

### What is happening?

1) Predicted labels are inverted as compared to true labels
![image](https://user-images.githubusercontent.com/6229031/183289339-51ca2ef9-0f1d-4759-9c28-4f4d87c7cf19.png)

2) Sometimes fails with QiskitError:

![image](https://user-ima

[2022-08-08 08:44] adekusar-drl commented on #446
@DPeddireddy The problem is more generic, the runtimes may help, but not that much. Here is the cause of this issue: https://github.com/Qiskit/qiskit-terra/issues/7676.

[2022-08-08 09:21] adekusar-drl commented on #336
Closed in #432

[2022-08-08 09:21] #336 closed

[2022-08-09 17:23] adekusar-drl commented on #447
Thanks for reporting this issue. The problem with identical samples, and this is what you have in your dataset, is fixed here: https://github.com/Qiskit/qiskit-machine-learning/pull/432
When I ran your example on the main branch and passed `num_steps=10` to Pegasos I got the correct results. Let me know if you have questions.

[2022-08-09 18:35] yurivict opened #448 "Tests require joblib that isn't listed in requirements"
### Environment

- **Qiskit Machine Learning version**: 149a2ef
- **Python version**: 3,9
- **Operating system**: FreeBSD 13.1

### What is happening?

[code]

### How can we reproduce the issue?

n/a

### What should happen?

n/a

### Any suggestions?

n/a

[2022-08-09 18:52] gcattan commented on #447
Thanks for the answer! I confirm it works as expected when using the development library (`git+https://github.com/Qiskit/qiskit-machine-learning#egg=qiskit_machine_learning`). Just have to wait for the next release then!

[2022-08-09 18:52] #447 closed

[2022-08-09 18:58] woodsp-ibm commented on #448
`joblib` is a transitive-dependent via scikit-learn. Scikit-learn has it as a direct dependent, i.e. a requires in its setup.py so should be installed when you install scikit-learn. This is not something ML has a direct dependence on and would add in the requirements(-dev) here. A search does show some hits for `scikit-learn joblib not found`, maybe those have some clues for your environment/versi

[2022-08-09 19:07] yurivict commented on #448
True. Thank you.

[2022-08-09 19:07] #448 closed

[2022-08-16 10:50] BassantTolba1234 opened #454 "when I run the function breast_cancer.py, I got this error. please can anyone help me to solve it urgently?"
### Environment

- **Qiskit Machine Learning version**:
- **Python version**:
- **Operating system**:

### What is happening?

![image](https://user-images.githubusercontent.com/59363587/184861712-043e1b09-79fc-4351-9a95-88dbe29df1bb.png)
when I run the function breast_cancer.py, I got this error. please can anyone help me to solve it urgently?

[<ipython-input-12-b2deb6744feb>](https://localhost:

[2022-08-16 12:16] adekusar-drl commented on #454
What you posted is not a script to reproduce the issue, unfortunately. The script `breast_cancer.py` is not intended to be run directly as you proposed. Can you please post a snippet to reproduce the issue?

These lines work perfectly well:
[code]

[2022-08-16 12:20] BassantTolba1234 commented on #454
Yes, I got it. You are right. I put the values of training size and testing
size as a ratio. Thank you very much. Please, is there a version of quantum
gan that uses breast_cancer,py as a dataset to reproduce it??

Thanks a million

Now, I will try to run qgan.. is it run
On Tue, 16 Aug 2022 at 2:17 PM Anton Dekusar ***@***.***>
wrote:

[2022-08-16 12:24] adekusar-drl commented on #454
No, I'm not aware of a QGAN example on the breast cancer dataset.
I'm closing this issue as resolved. Feel free re-open if the issue persists.

[2022-08-16 12:24] #454 closed

[2022-08-17 11:24] adekusar-drl opened #455 "Implement primitive-based QuantumKernel"
### What should we add?

In this epic we plan to implement a new version of `QuantumKernel` that will leverage the primitives introduced in Qiskit Terra:

- [x] Implement new `QuantumKernel`. #437
- [x] Update `QSVC/QSVR` and `PegasosQSVC`. #437
- [x] Write a new or update the existing tutorial. #488
- [x] Deprecate the existing quantum kernel implementation. #482

[2022-08-17 11:33] adekusar-drl opened #456 "Add QuantumKernel class using terra primitive"
This issue covers a reference implementation of a QuantumKernel (original code by @gentinettagian) that leverages the newly introduced primitives (so far, this class is based on the terra interface).

[2022-08-18 10:56] BassantTolba1234 opened #458 "please is there a version of quantum gan with breast_canser.py dataset to reproduce it ?"
### Environment

- **Qiskit Machine Learning version**:
- **Python version**:
- **Operating system**:

### What is happening?

i can not run quantum gan with breast_canser dataset

### How can we reproduce the issue?

run qgan with breast_cancer dataset

### What should happen?

i can not run quantum gan with breast_canser dataset

### Any suggestions?

_No response_

[2022-08-18 11:00] adekusar-drl commented on #458
This is not a proper issue, but rather a question.
Please post questions in the Qiskit slack workspace here: http://qiskit.slack.com, or on a quantum computing stackexchange: https://quantumcomputing.stackexchange.com/ or in another media. Thank you.

[2022-08-18 11:00] #458 closed

[2022-08-18 11:08] BassantTolba1234 opened #459 "when I use my own dataset instead of breast_cancer.py dataset, I could not plot any scattering point in PCA plot as shown here. do you have any explanation /"
### Environment

- **Qiskit Machine Learning version**:
- **Python version**:
- **Operating system**:

### What is happening?

when I use my own dataset instead of the breast_cancer.py dataset, I could not plot any scattering point in the PCA plot as shown here. do you have any explanation?
![image](https://user-images.githubusercontent.com/59363587/185380433-9cc9afdc-1ce8-48c2-8965-0882d84c9f42.p

[2022-08-18 11:10] adekusar-drl commented on #459
This is not a proper issue, but rather a question.
Please post questions in the Qiskit slack workspace here: http://qiskit.slack.com/, or on a quantum computing stackexchange: https://quantumcomputing.stackexchange.com/ or in another media. Thank you.

[2022-08-18 11:10] #459 closed

[2022-08-18 13:05] BassantTolba1234 opened #460 "I have an error while running the file qgan.py. and I did not know the shape of dataset used in this file?"
### Environment

- **Qiskit Machine Learning version**:
- **Python version**:
- **Operating system**:

### What is happening?

It appears error when I run the qgan.py file. It says that there is a missing data argument as shown below. I do not know what the data used is and its shape and dimension.

![image](https://user-images.githubusercontent.com/59363587/185401726-f6707e89-7975-4378-92ae-cdc8c

[2022-08-18 13:24] adekusar-drl commented on #460
You have to pass the required parameter `data` to `QGAN`, please refer to the documentation: https://qiskit.org/documentation/machine-learning/stubs/qiskit_machine_learning.algorithms.QGAN.html#qiskit_machine_learning.algorithms.QGAN and to the QGAN tutorial: https://qiskit.org/documentation/machine-learning/tutorials/04_qgans_for_loading_random_distributions.html

[2022-08-18 18:54] BassantTolba1234 commented on #460
Thank you very much @adekusar-drl  for your comment. However, please can you share with me the suitable data I should pass to QGAN ? and what is the dimension of it please?
Thanks in advance.

[2022-08-18 20:10] adekusar-drl commented on #460
In the QGAN tutorial a one dimensional array is used. Please take a look at it, I posted in the previous message.

[2022-08-22 13:37] adekusar-drl commented on #460
I'm closing this issue as resolved.

[2022-08-22 13:37] #460 closed

[2022-08-23 18:24] gines-carrascal opened #463 "Unable to buil new feature map for QuantumKernel (QSVC)"
### Environment

- **Qiskit Machine Learning version**:0.4.0
- **Python version**: 3.9
- **Operating system**: Linux

### What is happening?

In the moving from Aqua, the superclass "FeatureMap" has disapeared.
In the QuantumKernel class you can see:
  self._feature_map: QuantumCircuit | None = None  # type is required by mypy
If you use a QuantumCircuit to initialize the kernel, errors appear cal

[2022-08-24 11:04] adekusar-drl commented on #463
@gines-carrascal Unfortunately, you have not provided enough information to reproduce the problem, but I have a counter-example that works with a parameterized circuit in `QuantumKernel`. Let me know if it works for you and this is what you were looking for.

[code]

[2022-08-26 09:54] adekusar-drl commented on #463
@gines-carrascal did my reply help?

[2022-08-29 14:30] adekusar-drl commented on #463
I'm closing the issue as resolved. Feel free to re-open if the problem persists.

[2022-08-29 14:30] #463 closed

[2022-08-29 21:07] adekusar-drl commented on #408
Closed in #462

[2022-08-29 21:07] #408 closed

[2022-09-20 08:44] adekusar-drl opened #472 "Deprecate TorchRuntimeClient, corresponding classes, and the tutorial"
### What is the expected enhancement?

The `TorchRuntime` program does not use primitives, so it will be removed soon. Before that we have to deprecate everything that is related to `TorchRuntimeClient`. This includes:
- The runtime package with two scripts, `hookbase.py` and `torch_runtime_client.py`
- The tutorial `06_torch_runtime.ipynb`
- Other components if any

In case of the tutorial, I thi

[2022-09-20 08:45] adekusar-drl commented on #472
@manoelmarques Could you please take a look? Do we have an established practice in deprecating runtimes and tutorials?

[2022-09-20 13:08] woodsp-ibm commented on #472
We do not publish tutorials using deprecated code - either they are updated to some new way, or they are removed if function is removed. Deprecated means users with existing code it will carry on working albeit emitting message - but as we discourage use of deprecated code we would not want a tutorial for new users to it.

[2022-09-20 13:15] adekusar-drl commented on #472
OK, good to know, then it is even easier. We mark the code as deprecated and remove the tutorial.

[2022-09-20 19:20] jyu00 commented on #472
Based on the description, `TorchRuntimeClient` is going to be deprecated instead of updated to use the primitives, right? If so, can we shortened the deprecation period to say 1 month instead of the standard 3 months? The torch programs don't get a lot of usage, so the risk should be low.

[2022-09-23 11:18] adekusar-drl opened #474 "Update references to Terra's classes in docstrings"
### What is the expected enhancement?

Review all docstrings in the package and update references to Terra's classes. For instance, in the `VQC` documentation we reference \`\`ZZFeatureMap\`\` that is in `qiskit.circuit.library`. When the package documentation is generated, the reference becomes just a plain text. Such references should be replaced with cross references, that are replaced in the g

[2022-09-23 12:33] Kowalikov opened #475 "Add Effective Dimension class for PyTorch models."
### What should we add?

This issue covers adding Effective Dimension class for all PyTorch models. This would help to compare effective dimensions between the classical and quantum/hybrid models.

[2022-09-23 13:51] adekusar-drl commented on #472
@jyu00 I think, there is a common deprecation policy of 3 months. I'm not sure, I can change it.

[2022-09-23 20:32] jyu00 commented on #472
@1ucian0 do you think we can have an exception of a shorter deprecation time for this?

[2022-09-23 20:36] woodsp-ibm commented on #472
Its a min of 3 months or two releases per current [Qiskit deprecation policy](https://qiskit.org/documentation/deprecation_policy.html#removing-a-feature) for  removal.

[2022-09-28 11:28] NNCT2904 commented on #472
Is there any plan for a runtime program to train neural network if this Torch runtime is deprecated?

[2022-09-28 14:27] adekusar-drl commented on #472
@NNCT2904 Once primitive-based algorithms are out you should use `QiskitRuntimeService` to leverage primitives and runtimes.

[2022-09-29 09:27] adekusar-drl opened #481 "Mark the existing Quantum Kernel implementation as pending deprecation"
As we move towards primitive-based algorithms we are going to discontinue the algorithms that are based on `QuantumInstance`. This issue is created to mark the `QuantumKernel` class as pending deprecation. This class will be replaced by the implementation from #437.

[2022-09-29 09:30] 1ucian0 commented on #472
In principle, the depreciation policy applies to the module API (as the code included in the package), not to the service API. I would make sure qiskit-machine-learning code fails gracefully once the service is gone

[2022-09-29 11:23] woodsp-ibm commented on #472
This code is just the front-end to the service - if the service goes away nothing works and the client code here is meaningless - if the service goes sooner this is essentially gone at the same time.

[2022-09-29 13:29] manoelmarques commented on #472
So for a minimum deprecation time, I believe the msg would be something like:
[code]
That would be the shortest period unless a bug fix release is released just to remove it. Then the period could be 1 week, 3 days, one weekend :-)
Another option is to just remove the code altogether and write in the release notes it has been removed. Since it is a service and not an api like mentioned above, the

[2022-09-30 17:37] #472 closed

[2022-10-03 17:57] adekusar-drl opened #483 "Remove positional argument support in QSVC and QSVR"
### What is the expected enhancement?

Positional arguments in `QSVC` and `QSVR` were deprecated as of version `0.3`. So now they can be removed.

[2022-10-05 20:17] woodsp-ibm opened #484 "QuantumKernel `evaluate_duplicates` docstring is not formatted well"
### What is the expected enhancement?

The evaluate_duplicates was added in #432 but its seems the formatting of the str values and their explanation could do with improvement. It comes out as below which brings part of the text along with the value making it harder to deal with. (I noticed when looking at the docs from another newer as yet unmerged PR)

![image](https://user-images.githubusercont

[2022-10-05 22:40] adekusar-drl commented on #484
It should be fixed in #437.

[2022-10-05 22:42] adekusar-drl commented on #484
Ah, my bad, it is fixed in the new implementation only.

[2022-10-06 14:42] woodsp-ibm commented on #367
The above PR was changed, ahead of merging, so that Minimizer interface is exposed at the [optimizers ](https://qiskit.org/documentation/stubs/qiskit.algorithms.optimizers.html#optimizer-base-class)level

[2022-10-08 11:26] andb0t commented on #326
That worked. Thanks!

[2022-10-08 11:39] andb0t opened #486 "Reshape error on training"
### Environment

- **Qiskit Machine Learning version**: 0.4.0
- **Python version**: 3.8
- **Operating system**:  Ubuntu 20.04.3 LTS (Windows subsystem for Linux)

### What is happening?

### Summary

This is the issue I opened due to a comment to [my (now closed) PR](https://github.com/Qiskit/qiskit-machine-learning/pull/439#issuecomment-1184949142).

When training an QNN following the [tutorial](

[2022-10-08 12:48] adekusar-drl commented on #486
The tutorial works perfectly fine in the CI and on my laptop as well. In the exception you posted I see `'Series' object has no attribute 'reshape'`, so I do believe you pass a pandas object where it is not supported. Can you please share the code you run to reproduce the issue?

[2022-10-08 12:51] adekusar-drl commented on #486
The PR you opened did not pass the CI checks and unit tests in particular. Certainly, there's a problem in your code.

[2022-10-08 13:39] andb0t commented on #486
First of all, thanks for the quick reply! I'd love to share the code, but most of it is proprietary, so I'd have to invest a lot of time making sure I don't share what I'm not allowed to :/ I guess if you cannot reproduce it, we can close it. I'll assume it's fixed in the new versions. If it appears again for me, I will invest the effort to unwrap proprietary/non-proprietary and post the code. Unt

[2022-10-09 09:46] adekusar-drl commented on #486
Yes, sounds good!

[2022-10-11 17:30] #486 closed

[2022-10-13 16:43] woodsp-ibm opened #490 "Update documentation for primitives based function"
### What is the expected enhancement?

Some of this, in regards of API ref will come naturally from the inclusion of the new function. Other aspects require more direct action e.g.

- [x] Update ML overview in API ref in docs\index.rst
- [x] Update readme (which seems to be reflect the above text); also update its sample code
- [x] Migration guide covering transition from old to new function

[2022-10-14 11:19] adekusar-drl commented on #456
Closed in #437

[2022-10-14 11:19] #456 closed

[2022-10-14 15:13] woodsp-ibm commented on #490
Maybe also can check over docs and adjust class one-liners to improve the auto generated tables e.g. this is what kernels looks like at present which seems like it could be improved
![image](https://user-images.githubusercontent.com/40241007/195881126-e1f4acca-38a8-4718-82f4-69ad4ab27bf8.png)

[2022-10-18 18:06] poig opened #492 "Add more classifier"
### What should we add?

we should include more classifiers:

- [ ] Quantum K-NN has already been done, but only fit the old version.
https://github.com/GroenteLepel/qiskit-quantum-knn
- [ ] Quantum Random Forest Classifier
https://arxiv.org/pdf/2210.02355.pdf
https://github.com/maiyuren/Quantum-Random-Forest

Maybe we should add these also:
- [ ] Quantum GaussianNB
- [ ] Quantum DecisionTreeClass

[2022-10-18 21:30] poig opened #493 "TypeError: unhashable type: 'numpy.ndarray'"
### Environment

- **Qiskit Machine Learning version**: 0.4.0
- **Python version**: 3.8.12
- **Operating system**: Windows11

### What is happening?

I try to apply "cross_entropy_sigmoid" with NeuralNetworkClassifier but giving an unexpected bug, not sure what goes wrong, I tried other methods also doesn't work, like disable the one_hot, but other error pops up.

### How can we reproduce the issu

[2022-10-20 11:56] Sudeep09 opened #494 "Make VQC & QNN Scikit-learn compliant"
### What is the expected enhancement?

VQC & QNN does not allow to implement Sklearn BaseEstimator to be inherited. Hence, we are unable to use Sklearn Gridsearch on VQC & QNN estimators for hyperparameter tuning.

[2022-10-20 12:19] adekusar-drl commented on #494
There is a guide how to develop scikit learn compatible estimators: https://scikit-learn.org/stable/developers/develop.html
In general, inheritance is not required, but method compatibility is.

[2022-10-20 13:36] Sudeep09 commented on #494
class VQC_Sklearn(VQC, NeuralNetworkClassifier, BaseEstimator, ClassifierMixin):
    def get_params(self, deep=True):
        out = dict()
        for key in self._get_param_names():
        ## The if statement is to bypass "callback" and "quantum_instance" attribute not defined
            if (key != "callback" and key != "quantum_instance"):
                value = getattr(self, key)

[2022-10-20 13:44] adekusar-drl commented on #494
I guess, `set_params` to be implemented as well. The implementation may be tricky though.

[2022-10-20 14:43] adekusar-drl commented on #455
Closing the epic as all tasks are done.

[2022-10-20 14:43] #455 closed

[2022-10-20 15:44] adekusar-drl commented on #493
It is a bug. Unlikely it would be fixed as this loss function is deprecated as of version 0.4.

[2022-10-20 18:48] chin-jey commented on #492
There's this project implementing other quantum classification and regression methods : https://github.com/mspronesti/qlearnkit

[2022-10-21 03:43] poig commented on #492
Yeah, include K-NN classification, regression, dataset, encoding map, swaptest circuit, but it's not fit the latest version.

[2022-10-21 08:22] chin-jey commented on #492
Why not ? It seems it does to me.

[2022-10-21 10:31] poig commented on #492
It still uses the base backend

[2022-10-21 10:36] poig commented on #492
I just see that it fit with the sources code, not the latest release version.

[2022-10-23 17:26] chin-jey opened #497 "Usage with qiskit runtime"
### What should we add?

Since you're deprecating the `runtime` package, could you show how to use `qiskit_ibm_runtime` instead, e.g. adapting the tutorial already available in v0.4.0 doc ?

[2022-10-25 08:17] adekusar-drl commented on #492
For example, quantum KNN requires either access to quantum memory to keep the states handy or re-creation of states every time when a distance is evaluated. Thus, the quantum version of the algorithm does not bring any advantages over the classical version. I can't say the above mentioned algorithms suffer from the same problem, they have to be studied and evaluated if they can bring value for thi

[2022-10-25 08:32] adekusar-drl commented on #497
Thanks for raising this issue. In general, once the QML algorithms are migrated to the primitives, they can make use of sessions introduced in `qiskit-ibm-runtime`. Thus, when a session is instantiated and primitive instances are created on top of it, you should get a similar to runtime program behaviour. Take a look at the example here: https://github.com/Qiskit/qiskit-ibm-runtime. I agree this e

[2022-10-25 11:56] adekusar-drl commented on #475
Thanks for bringing this up. This a low priority issue and currently there are no plans to introduce support for all pytorch based models.

[2022-10-25 17:11] Sudeep09 commented on #494
Finally the solution below worked for me:

class vqc_wrapper(BaseEstimator):

    def __init__(self, feature_map,ansatz,optimizer,initial_point,quantum_instance,callback):
        self.feature_map = feature_map
        self.ansatz = ansatz
        self.optimizer = optimizer
        self.initial_point = initial_point
        self.quantum_instance = quantum_instance
        self.callback = callback

[2022-10-26 14:20] contepablod opened #500 "Loss Function Feature"
### What should we add?

Hi! Could you possibly explain in a markdown cell the connection between the quantum circuit, Loss Function and learning rate?

I'm trying to classify esophagus cancer images (Tensor shape [3,260,260] and I'm getting stucked in a 71% of accuracy.

If a NLLLoss is used, a SoftMax activation function is needed instead of a Relu?

Would a BCELoss function in a classifier perf

[2022-10-27 11:37] adekusar-drl commented on #494
If you don't mind, I'd keep this issue open as it is not resolved in the QML code.

[2022-10-27 20:53] adekusar-drl commented on #48
Closed via #414

[2022-10-27 20:53] #48 closed

[2022-10-27 20:55] adekusar-drl commented on #293
Closed via #462

[2022-10-27 20:55] #293 closed

[2022-10-27 20:55] adekusar-drl commented on #292
Closed via #462

[2022-10-27 20:55] #292 closed

[2022-10-27 20:56] adekusar-drl commented on #241
Closed via #462

[2022-10-27 20:56] #241 closed

[2022-10-27 21:00] adekusar-drl commented on #392
The QGAN implementation is deprecated in #495. Unlikely this issue will be fixed.

[2022-10-27 21:00] adekusar-drl commented on #1
The QGAN implementation is deprecated in #495. Unlikely this issue will be fixed.

[2022-10-27 21:02] adekusar-drl commented on #341
Runtimes are being replaced with `Session`. See https://github.com/Qiskit/qiskit-ibm-runtime/ for more details.

[2022-10-27 21:02] #341 closed

[2022-10-27 21:03] adekusar-drl commented on #228
Runtimes are being replaced with `Session`. See https://github.com/Qiskit/qiskit-ibm-runtime/ for more details.

[2022-10-27 21:03] #228 closed

[2022-10-27 21:03] adekusar-drl commented on #383
The QGAN implementation is deprecated in https://github.com/Qiskit/qiskit-machine-learning/pull/495. Unlikely this issue will be fixed.

[2022-10-27 21:08] adekusar-drl commented on #157
I'm closing this issue as stale and unclear. Feel free to re-open with more details provided.

[2022-10-27 21:08] #157 closed

[2022-10-27 21:15] adekusar-drl commented on #500
The question is unclear without further details and explanations, honestly. Use of loss/activation functions depends on the design of the neural network. I guess you are talking about PyTorch networks? Do you have quantum layers?

Please also consider posting such questions to the Slack channels here: https://qiskit.slack.com

[2022-10-29 11:43] chin-jey commented on #497
Thanks for the answer. Nevertheless, I don't get how to use this new runtime considering that, from the backend side, the algorithms only require a `QuantumInstance` while hiding all the computation, which is good (it's what I expect from a library algorithm) but the runtime seems to be working at circuit level

[2022-10-30 13:31] adekusar-drl commented on #497
All algorithms are being migrated to primitives. There'a a new quantum kernel implementation already, see https://github.com/Qiskit/qiskit-machine-learning/blob/main/qiskit_machine_learning/kernels/fidelity_quantum_kernel.py. Neural networks will be updated soon as well, see #436 and #470. None of the new algorithms require `QuantumInstance`, but rather a primitive.

So, the code may look like (if

[2022-10-31 23:48] #401 closed

[2022-11-01 15:02] adekusar-drl opened #504 "Add unit tests that run on either backend-based primitives or Aer primitives"
### What is the expected enhancement?

New QML classes that leverage Qiskit primitives are tested only on the reference implementation available in Terra, e.g. `Sampler` and `Estimator`. This issue is created to discuss and implement new unit tests for the classes that are built on top of primitives, e.g. `SamplerQNN`, `EstimatorQNN`, quantum kernel classes.

[2022-11-01 15:29] adekusar-drl opened #505 "Add a handy blueprint circuit that wraps feature map and ansatz circuits"
### What is the expected enhancement?

Sometimes it is handy to have a quantum circuit that wraps both feature map and ansatz. Such a circuit can be passed to quantum neural networks directly saving a few lines of code.

For example, now it is required to write:

[code]

With a new, say, `QNNCircuit` we may reduce to:

[code]

Such a circuit could be very handy in unit tests as well.

[2022-11-02 11:16] adekusar-drl opened #508 "Reconsider model serialization and serialize only required properties"
### What is the expected enhancement?

Currently, ML models like `VQC` or `QSVC` rely on the fact that all internal properties of the model are serializable, but this may not be true. There's a issue https://github.com/Qiskit/qiskit-terra/issues/9033 that confirmed this assumption is not valid. This issue is created to reconsider model serialization and implement it in a safe way.

[2022-11-02 13:05] #400 closed

[2022-11-03 21:29] chin-jey commented on #497
I believe it's not clear to me the difference between terra primitives and qiskit runtime primitives. `ComputeUncompute` seems to be requiring a terra primitive, how can you pass a qiskit runtime one ?

[2022-11-04 01:02] adekusar-drl commented on #497
`ComputeUncompute` requires an instance of `BaseSampler` and both implementations, `Sampler` from Terra and `Sampler` from the runtime service, extend this base interface.

[2022-11-04 01:04] adekusar-drl commented on #497
@t-imamichi just for information, see above. We need an extended documentation on the primitives :)

[2022-11-04 11:25] realistix30 commented on #505
Hi! I'd like to try this as my first issue.

[2022-11-04 12:36] adekusar-drl commented on #505
Sure, give a try.

[2022-11-04 13:50] chin-jey commented on #497
@adekusar-drl Why do you have two `BaseSampler` classes ` (and so for the other primitives)  though ? For instance, [terra](https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/primitives/base/base_sampler.py) and [qiskit runtime](https://github.com/Qiskit/qiskit-ibm-runtime/blob/main/qiskit_ibm_runtime/qiskit/primitives/base_sampler.py)

[2022-11-04 14:07] adekusar-drl commented on #402
Closed in #501

[2022-11-04 14:07] #402 closed

[2022-11-04 14:07] #378 closed

[2022-11-04 14:38] woodsp-ibm commented on #504
Maybe for this perhaps its more Neko type tests. The reference primitives should be fine for unit testing, its just to check the ML functional correctness - they can have ideal and shot/variance behavior. To do different primitives would be more towards system tests than unit tests in my mind.

[2022-11-04 18:24] adekusar-drl commented on #497
I do believe those base classes from Runtime are just copies from Terra and should go away. I don't recall why initially they were copied, but there's an issue to remove them: https://github.com/Qiskit/qiskit-ibm-runtime/issues/253

Actual implementations, the classes that extends the base ones, are different as the Runtime primitives makes use of cloud stuff.

[2022-11-08 20:37] #490 closed

[2022-11-16 09:44] EliasCombarro opened #527 "Error when running TorchRuntimeClient"
### Environment

- **Qiskit Machine Learning version**: 0.4.0 and 0.5.0
- **Python version**: 3.7.15
- **Operating system**: Google Colab

### What is happening?

When using TorchRuntimeClient, it fails with the following error (taken from the log of the job):

2022-11-16T07:37:37.332393231Z --- Logging error ---
2022-11-16T07:37:37.335383631Z Traceback (most recent call last):
2022-11-16T07:37:37

[2022-11-16 17:00] adekusar-drl commented on #527
This is a server side problem and I don't think it can be fixed here. @woodsp-ibm can you transfer it to the qiskit-ibm-runtime repo?

[2022-11-16 17:29] woodsp-ibm commented on #527
I do not have the necessary permission on qiskit-ibm-runtime- maybe @mtreinish has and can oblige?

[2022-11-17 15:05] adekusar-drl commented on #500
@contepablod have managed to solve the issue?

[2022-11-17 19:34] contepablod commented on #500
Sure, I chose CrossEntropyLoss and I could deal with it. You can check my repo of that if you want.
Thanks!

[2022-11-18 11:21] adekusar-drl commented on #500
Thank you. I'm closing the issue. Feel free to re-open if you still have the problem.

[2022-11-18 11:21] #500 closed

[2022-11-23 14:01] woodsp-ibm commented on #527
Closing as the author opened an issue directly on qiskit runtime Qiskit/qiskit-ibm-runtime#631

[2022-11-23 14:01] #527 closed

[2022-11-24 15:01] chin-jey commented on #497
thanks. Can you also clarify what is the rationale behind the primitives ? previously all the algorithms an the neural networks had a `QuantumInstance` , now I'm puzzled by the fact that we have a `Sampler` and an `Estimator`.

[2022-11-29 22:30] adekusar-drl commented on #497
First of all, I suggest to take a look at the documentation of the primitives again: https://qiskit.org/documentation/apidoc/primitives.html. There are two original QNNs: `CircuitQNN` and `OpflowQNN`. The former works with bit strings as an output of a circuit, the latter deals with circuits and observables and the output is expectation value that can be interpreted at the post-processing step. No

[2022-11-30 22:50] chin-jey commented on #497
@adekusar-drl thanks. In my case I have some code that directly uses a `QuantumInstance` without qiskit neural networks. Based on your explanation I guess the primitive that fits more the previous work done by a Quantum instance is the Estimator.